/*!
 * DSFR v1.7.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  ICON COMMUNICATION
\* ˍˍˍˍˍˍˍˍˍ */
.fr-icon-chrome-fill::before,
.fr-icon-chrome-fill::after {
  -webkit-mask-image: url("../../../icons/logo/chrome-fill.b164a6375a5e.svg");
  mask-image: url("../../../icons/logo/chrome-fill.b164a6375a5e.svg");
}

.fr-icon-chrome-line::before,
.fr-icon-chrome-line::after {
  -webkit-mask-image: url("../../../icons/logo/chrome-line.e452b50d355d.svg");
  mask-image: url("../../../icons/logo/chrome-line.e452b50d355d.svg");
}

.fr-icon-edge-fill::before,
.fr-icon-edge-fill::after {
  -webkit-mask-image: url("../../../icons/logo/edge-fill.bc7b8e83fa39.svg");
  mask-image: url("../../../icons/logo/edge-fill.bc7b8e83fa39.svg");
}

.fr-icon-edge-line::before,
.fr-icon-edge-line::after {
  -webkit-mask-image: url("../../../icons/logo/edge-line.3a087626a827.svg");
  mask-image: url("../../../icons/logo/edge-line.3a087626a827.svg");
}

.fr-icon-facebook-circle-fill::before,
.fr-icon-facebook-circle-fill::after {
  -webkit-mask-image: url("../../../icons/logo/facebook-circle-fill.1794f7c8cfab.svg");
  mask-image: url("../../../icons/logo/facebook-circle-fill.1794f7c8cfab.svg");
}

.fr-icon-facebook-circle-line::before,
.fr-icon-facebook-circle-line::after {
  -webkit-mask-image: url("../../../icons/logo/facebook-circle-line.acaddffecc4f.svg");
  mask-image: url("../../../icons/logo/facebook-circle-line.acaddffecc4f.svg");
}

.fr-icon-firefox-fill::before,
.fr-icon-firefox-fill::after {
  -webkit-mask-image: url("../../../icons/logo/firefox-fill.ed2c4d64b544.svg");
  mask-image: url("../../../icons/logo/firefox-fill.ed2c4d64b544.svg");
}

.fr-icon-firefox-line::before,
.fr-icon-firefox-line::after {
  -webkit-mask-image: url("../../../icons/logo/firefox-line.296ffa2a40c9.svg");
  mask-image: url("../../../icons/logo/firefox-line.296ffa2a40c9.svg");
}

.fr-icon-dailymotion-fill::before,
.fr-icon-dailymotion-fill::after {
  -webkit-mask-image: url("../../../icons/logo/fr--dailymotion-fill.de05ad96e94b.svg");
  mask-image: url("../../../icons/logo/fr--dailymotion-fill.de05ad96e94b.svg");
}

.fr-icon-dailymotion-line::before,
.fr-icon-dailymotion-line::after {
  -webkit-mask-image: url("../../../icons/logo/fr--dailymotion-line.a0865c0633ba.svg");
  mask-image: url("../../../icons/logo/fr--dailymotion-line.a0865c0633ba.svg");
}

.fr-icon-tiktok-fill::before,
.fr-icon-tiktok-fill::after {
  -webkit-mask-image: url("../../../icons/logo/fr--tiktok-fill.38b84e0c1fdb.svg");
  mask-image: url("../../../icons/logo/fr--tiktok-fill.38b84e0c1fdb.svg");
}

.fr-icon-tiktok-line::before,
.fr-icon-tiktok-line::after {
  -webkit-mask-image: url("../../../icons/logo/fr--tiktok-line.13d04a201238.svg");
  mask-image: url("../../../icons/logo/fr--tiktok-line.13d04a201238.svg");
}

.fr-icon-github-fill::before,
.fr-icon-github-fill::after {
  -webkit-mask-image: url("../../../icons/logo/github-fill.d8db33b40952.svg");
  mask-image: url("../../../icons/logo/github-fill.d8db33b40952.svg");
}

.fr-icon-github-line::before,
.fr-icon-github-line::after {
  -webkit-mask-image: url("../../../icons/logo/github-line.5e42e09638ff.svg");
  mask-image: url("../../../icons/logo/github-line.5e42e09638ff.svg");
}

.fr-icon-google-fill::before,
.fr-icon-google-fill::after {
  -webkit-mask-image: url("../../../icons/logo/google-fill.cb5122007fc5.svg");
  mask-image: url("../../../icons/logo/google-fill.cb5122007fc5.svg");
}

.fr-icon-google-line::before,
.fr-icon-google-line::after {
  -webkit-mask-image: url("../../../icons/logo/google-line.4de3b5ba8bc3.svg");
  mask-image: url("../../../icons/logo/google-line.4de3b5ba8bc3.svg");
}

.fr-icon-ie-fill::before,
.fr-icon-ie-fill::after {
  -webkit-mask-image: url("../../../icons/logo/ie-fill.d32c6fe5b932.svg");
  mask-image: url("../../../icons/logo/ie-fill.d32c6fe5b932.svg");
}

.fr-icon-ie-line::before,
.fr-icon-ie-line::after {
  -webkit-mask-image: url("../../../icons/logo/ie-line.88d1d5c203f2.svg");
  mask-image: url("../../../icons/logo/ie-line.88d1d5c203f2.svg");
}

.fr-icon-instagram-fill::before,
.fr-icon-instagram-fill::after {
  -webkit-mask-image: url("../../../icons/logo/instagram-fill.c00a6162747a.svg");
  mask-image: url("../../../icons/logo/instagram-fill.c00a6162747a.svg");
}

.fr-icon-instagram-line::before,
.fr-icon-instagram-line::after {
  -webkit-mask-image: url("../../../icons/logo/instagram-line.865eb077848f.svg");
  mask-image: url("../../../icons/logo/instagram-line.865eb077848f.svg");
}

.fr-icon-linkedin-box-fill::before,
.fr-icon-linkedin-box-fill::after {
  -webkit-mask-image: url("../../../icons/logo/linkedin-box-fill.bbcdc6796901.svg");
  mask-image: url("../../../icons/logo/linkedin-box-fill.bbcdc6796901.svg");
}

.fr-icon-linkedin-box-line::before,
.fr-icon-linkedin-box-line::after {
  -webkit-mask-image: url("../../../icons/logo/linkedin-box-line.9718f6f58f99.svg");
  mask-image: url("../../../icons/logo/linkedin-box-line.9718f6f58f99.svg");
}

.fr-icon-mastodon-fill::before,
.fr-icon-mastodon-fill::after {
  -webkit-mask-image: url("../../../icons/logo/mastodon-fill.1de5d0e499ea.svg");
  mask-image: url("../../../icons/logo/mastodon-fill.1de5d0e499ea.svg");
}

.fr-icon-mastodon-line::before,
.fr-icon-mastodon-line::after {
  -webkit-mask-image: url("../../../icons/logo/mastodon-line.9441e2501983.svg");
  mask-image: url("../../../icons/logo/mastodon-line.9441e2501983.svg");
}

.fr-icon-npmjs-fill::before,
.fr-icon-npmjs-fill::after {
  -webkit-mask-image: url("../../../icons/logo/npmjs-fill.c2d2e8c16998.svg");
  mask-image: url("../../../icons/logo/npmjs-fill.c2d2e8c16998.svg");
}

.fr-icon-npmjs-line::before,
.fr-icon-npmjs-line::after {
  -webkit-mask-image: url("../../../icons/logo/npmjs-line.107d5e109017.svg");
  mask-image: url("../../../icons/logo/npmjs-line.107d5e109017.svg");
}

.fr-icon-remixicon-fill::before,
.fr-icon-remixicon-fill::after {
  -webkit-mask-image: url("../../../icons/logo/remixicon-fill.b726a6de3b7a.svg");
  mask-image: url("../../../icons/logo/remixicon-fill.b726a6de3b7a.svg");
}

.fr-icon-remixicon-line::before,
.fr-icon-remixicon-line::after {
  -webkit-mask-image: url("../../../icons/logo/remixicon-line.3c1404a10252.svg");
  mask-image: url("../../../icons/logo/remixicon-line.3c1404a10252.svg");
}

.fr-icon-safari-fill::before,
.fr-icon-safari-fill::after {
  -webkit-mask-image: url("../../../icons/logo/safari-fill.d24bcd1386f8.svg");
  mask-image: url("../../../icons/logo/safari-fill.d24bcd1386f8.svg");
}

.fr-icon-safari-line::before,
.fr-icon-safari-line::after {
  -webkit-mask-image: url("../../../icons/logo/safari-line.0a3a4b4d14ec.svg");
  mask-image: url("../../../icons/logo/safari-line.0a3a4b4d14ec.svg");
}

.fr-icon-slack-fill::before,
.fr-icon-slack-fill::after {
  -webkit-mask-image: url("../../../icons/logo/slack-fill.b496ad7c066a.svg");
  mask-image: url("../../../icons/logo/slack-fill.b496ad7c066a.svg");
}

.fr-icon-slack-line::before,
.fr-icon-slack-line::after {
  -webkit-mask-image: url("../../../icons/logo/slack-line.b7e466fb7d3e.svg");
  mask-image: url("../../../icons/logo/slack-line.b7e466fb7d3e.svg");
}

.fr-icon-snapchat-fill::before,
.fr-icon-snapchat-fill::after {
  -webkit-mask-image: url("../../../icons/logo/snapchat-fill.a224d7ec9939.svg");
  mask-image: url("../../../icons/logo/snapchat-fill.a224d7ec9939.svg");
}

.fr-icon-snapchat-line::before,
.fr-icon-snapchat-line::after {
  -webkit-mask-image: url("../../../icons/logo/snapchat-line.608dce762cb0.svg");
  mask-image: url("../../../icons/logo/snapchat-line.608dce762cb0.svg");
}

.fr-icon-telegram-fill::before,
.fr-icon-telegram-fill::after {
  -webkit-mask-image: url("../../../icons/logo/telegram-fill.f3fb6bc954ca.svg");
  mask-image: url("../../../icons/logo/telegram-fill.f3fb6bc954ca.svg");
}

.fr-icon-telegram-line::before,
.fr-icon-telegram-line::after {
  -webkit-mask-image: url("../../../icons/logo/telegram-line.6c476e52d279.svg");
  mask-image: url("../../../icons/logo/telegram-line.6c476e52d279.svg");
}

.fr-icon-twitch-fill::before,
.fr-icon-twitch-fill::after {
  -webkit-mask-image: url("../../../icons/logo/twitch-fill.875feb4f3fad.svg");
  mask-image: url("../../../icons/logo/twitch-fill.875feb4f3fad.svg");
}

.fr-icon-twitch-line::before,
.fr-icon-twitch-line::after {
  -webkit-mask-image: url("../../../icons/logo/twitch-line.032a53e9bb5d.svg");
  mask-image: url("../../../icons/logo/twitch-line.032a53e9bb5d.svg");
}

.fr-icon-twitter-fill::before,
.fr-icon-twitter-fill::after {
  -webkit-mask-image: url("../../../icons/logo/twitter-fill.7bc61c901778.svg");
  mask-image: url("../../../icons/logo/twitter-fill.7bc61c901778.svg");
}

.fr-icon-twitter-line::before,
.fr-icon-twitter-line::after {
  -webkit-mask-image: url("../../../icons/logo/twitter-line.cf73298bdefb.svg");
  mask-image: url("../../../icons/logo/twitter-line.cf73298bdefb.svg");
}

.fr-icon-vimeo-fill::before,
.fr-icon-vimeo-fill::after {
  -webkit-mask-image: url("../../../icons/logo/vimeo-fill.e3dc7f9b56f5.svg");
  mask-image: url("../../../icons/logo/vimeo-fill.e3dc7f9b56f5.svg");
}

.fr-icon-vimeo-line::before,
.fr-icon-vimeo-line::after {
  -webkit-mask-image: url("../../../icons/logo/vimeo-line.6ccdad9e86f8.svg");
  mask-image: url("../../../icons/logo/vimeo-line.6ccdad9e86f8.svg");
}

.fr-icon-vuejs-fill::before,
.fr-icon-vuejs-fill::after {
  -webkit-mask-image: url("../../../icons/logo/vuejs-fill.0de4883c3088.svg");
  mask-image: url("../../../icons/logo/vuejs-fill.0de4883c3088.svg");
}

.fr-icon-vuejs-line::before,
.fr-icon-vuejs-line::after {
  -webkit-mask-image: url("../../../icons/logo/vuejs-line.09559958e770.svg");
  mask-image: url("../../../icons/logo/vuejs-line.09559958e770.svg");
}

.fr-icon-youtube-fill::before,
.fr-icon-youtube-fill::after {
  -webkit-mask-image: url("../../../icons/logo/youtube-fill.8aa6c2efb31d.svg");
  mask-image: url("../../../icons/logo/youtube-fill.8aa6c2efb31d.svg");
}

.fr-icon-youtube-line::before,
.fr-icon-youtube-line::after {
  -webkit-mask-image: url("../../../icons/logo/youtube-line.7b20150153c4.svg");
  mask-image: url("../../../icons/logo/youtube-line.7b20150153c4.svg");
}

.fr-fi-facebook-circle-fill::before,
.fr-fi-facebook-circle-fill::after {
  -webkit-mask-image: url("../../../icons/logo/facebook-circle-fill.1794f7c8cfab.svg");
  mask-image: url("../../../icons/logo/facebook-circle-fill.1794f7c8cfab.svg");
}

.fr-fi-facebook-circle-line::before,
.fr-fi-facebook-circle-line::after {
  -webkit-mask-image: url("../../../icons/logo/facebook-circle-line.acaddffecc4f.svg");
  mask-image: url("../../../icons/logo/facebook-circle-line.acaddffecc4f.svg");
}

.fr-fi-dailymotion-fill::before,
.fr-fi-dailymotion-fill::after {
  -webkit-mask-image: url("../../../icons/logo/fr--dailymotion-fill.de05ad96e94b.svg");
  mask-image: url("../../../icons/logo/fr--dailymotion-fill.de05ad96e94b.svg");
}

.fr-fi-dailymotion-line::before,
.fr-fi-dailymotion-line::after {
  -webkit-mask-image: url("../../../icons/logo/fr--dailymotion-line.a0865c0633ba.svg");
  mask-image: url("../../../icons/logo/fr--dailymotion-line.a0865c0633ba.svg");
}

.fr-fi-github-fill::before,
.fr-fi-github-fill::after {
  -webkit-mask-image: url("../../../icons/logo/github-fill.d8db33b40952.svg");
  mask-image: url("../../../icons/logo/github-fill.d8db33b40952.svg");
}

.fr-fi-github-line::before,
.fr-fi-github-line::after {
  -webkit-mask-image: url("../../../icons/logo/github-line.5e42e09638ff.svg");
  mask-image: url("../../../icons/logo/github-line.5e42e09638ff.svg");
}

.fr-fi-instagram-fill::before,
.fr-fi-instagram-fill::after {
  -webkit-mask-image: url("../../../icons/logo/instagram-fill.c00a6162747a.svg");
  mask-image: url("../../../icons/logo/instagram-fill.c00a6162747a.svg");
}

.fr-fi-instagram-line::before,
.fr-fi-instagram-line::after {
  -webkit-mask-image: url("../../../icons/logo/instagram-line.865eb077848f.svg");
  mask-image: url("../../../icons/logo/instagram-line.865eb077848f.svg");
}

.fr-fi-linkedin-box-fill::before,
.fr-fi-linkedin-box-fill::after {
  -webkit-mask-image: url("../../../icons/logo/linkedin-box-fill.bbcdc6796901.svg");
  mask-image: url("../../../icons/logo/linkedin-box-fill.bbcdc6796901.svg");
}

.fr-fi-linkedin-box-line::before,
.fr-fi-linkedin-box-line::after {
  -webkit-mask-image: url("../../../icons/logo/linkedin-box-line.9718f6f58f99.svg");
  mask-image: url("../../../icons/logo/linkedin-box-line.9718f6f58f99.svg");
}

.fr-fi-npmjs-fill::before,
.fr-fi-npmjs-fill::after {
  -webkit-mask-image: url("../../../icons/logo/npmjs-fill.c2d2e8c16998.svg");
  mask-image: url("../../../icons/logo/npmjs-fill.c2d2e8c16998.svg");
}

.fr-fi-npmjs-line::before,
.fr-fi-npmjs-line::after {
  -webkit-mask-image: url("../../../icons/logo/npmjs-line.107d5e109017.svg");
  mask-image: url("../../../icons/logo/npmjs-line.107d5e109017.svg");
}

.fr-fi-remixicon-fill::before,
.fr-fi-remixicon-fill::after {
  -webkit-mask-image: url("../../../icons/logo/remixicon-fill.b726a6de3b7a.svg");
  mask-image: url("../../../icons/logo/remixicon-fill.b726a6de3b7a.svg");
}

.fr-fi-remixicon-line::before,
.fr-fi-remixicon-line::after {
  -webkit-mask-image: url("../../../icons/logo/remixicon-line.3c1404a10252.svg");
  mask-image: url("../../../icons/logo/remixicon-line.3c1404a10252.svg");
}

.fr-fi-slack-fill::before,
.fr-fi-slack-fill::after {
  -webkit-mask-image: url("../../../icons/logo/slack-fill.b496ad7c066a.svg");
  mask-image: url("../../../icons/logo/slack-fill.b496ad7c066a.svg");
}

.fr-fi-slack-line::before,
.fr-fi-slack-line::after {
  -webkit-mask-image: url("../../../icons/logo/slack-line.b7e466fb7d3e.svg");
  mask-image: url("../../../icons/logo/slack-line.b7e466fb7d3e.svg");
}

.fr-fi-snapchat-fill::before,
.fr-fi-snapchat-fill::after {
  -webkit-mask-image: url("../../../icons/logo/snapchat-fill.a224d7ec9939.svg");
  mask-image: url("../../../icons/logo/snapchat-fill.a224d7ec9939.svg");
}

.fr-fi-snapchat-line::before,
.fr-fi-snapchat-line::after {
  -webkit-mask-image: url("../../../icons/logo/snapchat-line.608dce762cb0.svg");
  mask-image: url("../../../icons/logo/snapchat-line.608dce762cb0.svg");
}

.fr-fi-telegram-fill::before,
.fr-fi-telegram-fill::after {
  -webkit-mask-image: url("../../../icons/logo/telegram-fill.f3fb6bc954ca.svg");
  mask-image: url("../../../icons/logo/telegram-fill.f3fb6bc954ca.svg");
}

.fr-fi-telegram-line::before,
.fr-fi-telegram-line::after {
  -webkit-mask-image: url("../../../icons/logo/telegram-line.6c476e52d279.svg");
  mask-image: url("../../../icons/logo/telegram-line.6c476e52d279.svg");
}

.fr-fi-twitch-fill::before,
.fr-fi-twitch-fill::after {
  -webkit-mask-image: url("../../../icons/logo/twitch-fill.875feb4f3fad.svg");
  mask-image: url("../../../icons/logo/twitch-fill.875feb4f3fad.svg");
}

.fr-fi-twitch-line::before,
.fr-fi-twitch-line::after {
  -webkit-mask-image: url("../../../icons/logo/twitch-line.032a53e9bb5d.svg");
  mask-image: url("../../../icons/logo/twitch-line.032a53e9bb5d.svg");
}

.fr-fi-twitter-fill::before,
.fr-fi-twitter-fill::after {
  -webkit-mask-image: url("../../../icons/logo/twitter-fill.7bc61c901778.svg");
  mask-image: url("../../../icons/logo/twitter-fill.7bc61c901778.svg");
}

.fr-fi-twitter-line::before,
.fr-fi-twitter-line::after {
  -webkit-mask-image: url("../../../icons/logo/twitter-line.cf73298bdefb.svg");
  mask-image: url("../../../icons/logo/twitter-line.cf73298bdefb.svg");
}

.fr-fi-vimeo-fill::before,
.fr-fi-vimeo-fill::after {
  -webkit-mask-image: url("../../../icons/logo/vimeo-fill.e3dc7f9b56f5.svg");
  mask-image: url("../../../icons/logo/vimeo-fill.e3dc7f9b56f5.svg");
}

.fr-fi-vimeo-line::before,
.fr-fi-vimeo-line::after {
  -webkit-mask-image: url("../../../icons/logo/vimeo-line.6ccdad9e86f8.svg");
  mask-image: url("../../../icons/logo/vimeo-line.6ccdad9e86f8.svg");
}

.fr-fi-youtube-fill::before,
.fr-fi-youtube-fill::after {
  -webkit-mask-image: url("../../../icons/logo/youtube-fill.8aa6c2efb31d.svg");
  mask-image: url("../../../icons/logo/youtube-fill.8aa6c2efb31d.svg");
}

.fr-fi-youtube-line::before,
.fr-fi-youtube-line::after {
  -webkit-mask-image: url("../../../icons/logo/youtube-line.7b20150153c4.svg");
  mask-image: url("../../../icons/logo/youtube-line.7b20150153c4.svg");
}

@media (min-width: 36em) {
  /*! media sm */

  /*! media sm */
}

@media (min-width: 48em) {
  /*! media md */

  /*! media md */
}

@media (min-width: 62em) {
  /*! media lg */

  /*! media lg */
}

@media (min-width: 78em) {
  /*! media xl */

  /*! media xl */
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fr-icon-chrome-fill::before,
  .fr-icon-chrome-fill::after {
    background-image: url("../../../icons/logo/chrome-fill.b164a6375a5e.svg");
  }

  .fr-icon-chrome-line::before,
  .fr-icon-chrome-line::after {
    background-image: url("../../../icons/logo/chrome-line.e452b50d355d.svg");
  }

  .fr-icon-edge-fill::before,
  .fr-icon-edge-fill::after {
    background-image: url("../../../icons/logo/edge-fill.bc7b8e83fa39.svg");
  }

  .fr-icon-edge-line::before,
  .fr-icon-edge-line::after {
    background-image: url("../../../icons/logo/edge-line.3a087626a827.svg");
  }

  .fr-icon-facebook-circle-fill::before,
  .fr-icon-facebook-circle-fill::after {
    background-image: url("../../../icons/logo/facebook-circle-fill.1794f7c8cfab.svg");
  }

  .fr-icon-facebook-circle-line::before,
  .fr-icon-facebook-circle-line::after {
    background-image: url("../../../icons/logo/facebook-circle-line.acaddffecc4f.svg");
  }

  .fr-icon-firefox-fill::before,
  .fr-icon-firefox-fill::after {
    background-image: url("../../../icons/logo/firefox-fill.ed2c4d64b544.svg");
  }

  .fr-icon-firefox-line::before,
  .fr-icon-firefox-line::after {
    background-image: url("../../../icons/logo/firefox-line.296ffa2a40c9.svg");
  }

  .fr-icon-dailymotion-fill::before,
  .fr-icon-dailymotion-fill::after {
    background-image: url("../../../icons/logo/fr--dailymotion-fill.de05ad96e94b.svg");
  }

  .fr-icon-dailymotion-line::before,
  .fr-icon-dailymotion-line::after {
    background-image: url("../../../icons/logo/fr--dailymotion-line.a0865c0633ba.svg");
  }

  .fr-icon-tiktok-fill::before,
  .fr-icon-tiktok-fill::after {
    background-image: url("../../../icons/logo/fr--tiktok-fill.38b84e0c1fdb.svg");
  }

  .fr-icon-tiktok-line::before,
  .fr-icon-tiktok-line::after {
    background-image: url("../../../icons/logo/fr--tiktok-line.13d04a201238.svg");
  }

  .fr-icon-github-fill::before,
  .fr-icon-github-fill::after {
    background-image: url("../../../icons/logo/github-fill.d8db33b40952.svg");
  }

  .fr-icon-github-line::before,
  .fr-icon-github-line::after {
    background-image: url("../../../icons/logo/github-line.5e42e09638ff.svg");
  }

  .fr-icon-google-fill::before,
  .fr-icon-google-fill::after {
    background-image: url("../../../icons/logo/google-fill.cb5122007fc5.svg");
  }

  .fr-icon-google-line::before,
  .fr-icon-google-line::after {
    background-image: url("../../../icons/logo/google-line.4de3b5ba8bc3.svg");
  }

  .fr-icon-ie-fill::before,
  .fr-icon-ie-fill::after {
    background-image: url("../../../icons/logo/ie-fill.d32c6fe5b932.svg");
  }

  .fr-icon-ie-line::before,
  .fr-icon-ie-line::after {
    background-image: url("../../../icons/logo/ie-line.88d1d5c203f2.svg");
  }

  .fr-icon-instagram-fill::before,
  .fr-icon-instagram-fill::after {
    background-image: url("../../../icons/logo/instagram-fill.c00a6162747a.svg");
  }

  .fr-icon-instagram-line::before,
  .fr-icon-instagram-line::after {
    background-image: url("../../../icons/logo/instagram-line.865eb077848f.svg");
  }

  .fr-icon-linkedin-box-fill::before,
  .fr-icon-linkedin-box-fill::after {
    background-image: url("../../../icons/logo/linkedin-box-fill.bbcdc6796901.svg");
  }

  .fr-icon-linkedin-box-line::before,
  .fr-icon-linkedin-box-line::after {
    background-image: url("../../../icons/logo/linkedin-box-line.9718f6f58f99.svg");
  }

  .fr-icon-mastodon-fill::before,
  .fr-icon-mastodon-fill::after {
    background-image: url("../../../icons/logo/mastodon-fill.1de5d0e499ea.svg");
  }

  .fr-icon-mastodon-line::before,
  .fr-icon-mastodon-line::after {
    background-image: url("../../../icons/logo/mastodon-line.9441e2501983.svg");
  }

  .fr-icon-npmjs-fill::before,
  .fr-icon-npmjs-fill::after {
    background-image: url("../../../icons/logo/npmjs-fill.c2d2e8c16998.svg");
  }

  .fr-icon-npmjs-line::before,
  .fr-icon-npmjs-line::after {
    background-image: url("../../../icons/logo/npmjs-line.107d5e109017.svg");
  }

  .fr-icon-remixicon-fill::before,
  .fr-icon-remixicon-fill::after {
    background-image: url("../../../icons/logo/remixicon-fill.b726a6de3b7a.svg");
  }

  .fr-icon-remixicon-line::before,
  .fr-icon-remixicon-line::after {
    background-image: url("../../../icons/logo/remixicon-line.3c1404a10252.svg");
  }

  .fr-icon-safari-fill::before,
  .fr-icon-safari-fill::after {
    background-image: url("../../../icons/logo/safari-fill.d24bcd1386f8.svg");
  }

  .fr-icon-safari-line::before,
  .fr-icon-safari-line::after {
    background-image: url("../../../icons/logo/safari-line.0a3a4b4d14ec.svg");
  }

  .fr-icon-slack-fill::before,
  .fr-icon-slack-fill::after {
    background-image: url("../../../icons/logo/slack-fill.b496ad7c066a.svg");
  }

  .fr-icon-slack-line::before,
  .fr-icon-slack-line::after {
    background-image: url("../../../icons/logo/slack-line.b7e466fb7d3e.svg");
  }

  .fr-icon-snapchat-fill::before,
  .fr-icon-snapchat-fill::after {
    background-image: url("../../../icons/logo/snapchat-fill.a224d7ec9939.svg");
  }

  .fr-icon-snapchat-line::before,
  .fr-icon-snapchat-line::after {
    background-image: url("../../../icons/logo/snapchat-line.608dce762cb0.svg");
  }

  .fr-icon-telegram-fill::before,
  .fr-icon-telegram-fill::after {
    background-image: url("../../../icons/logo/telegram-fill.f3fb6bc954ca.svg");
  }

  .fr-icon-telegram-line::before,
  .fr-icon-telegram-line::after {
    background-image: url("../../../icons/logo/telegram-line.6c476e52d279.svg");
  }

  .fr-icon-twitch-fill::before,
  .fr-icon-twitch-fill::after {
    background-image: url("../../../icons/logo/twitch-fill.875feb4f3fad.svg");
  }

  .fr-icon-twitch-line::before,
  .fr-icon-twitch-line::after {
    background-image: url("../../../icons/logo/twitch-line.032a53e9bb5d.svg");
  }

  .fr-icon-twitter-fill::before,
  .fr-icon-twitter-fill::after {
    background-image: url("../../../icons/logo/twitter-fill.7bc61c901778.svg");
  }

  .fr-icon-twitter-line::before,
  .fr-icon-twitter-line::after {
    background-image: url("../../../icons/logo/twitter-line.cf73298bdefb.svg");
  }

  .fr-icon-vimeo-fill::before,
  .fr-icon-vimeo-fill::after {
    background-image: url("../../../icons/logo/vimeo-fill.e3dc7f9b56f5.svg");
  }

  .fr-icon-vimeo-line::before,
  .fr-icon-vimeo-line::after {
    background-image: url("../../../icons/logo/vimeo-line.6ccdad9e86f8.svg");
  }

  .fr-icon-vuejs-fill::before,
  .fr-icon-vuejs-fill::after {
    background-image: url("../../../icons/logo/vuejs-fill.0de4883c3088.svg");
  }

  .fr-icon-vuejs-line::before,
  .fr-icon-vuejs-line::after {
    background-image: url("../../../icons/logo/vuejs-line.09559958e770.svg");
  }

  .fr-icon-youtube-fill::before,
  .fr-icon-youtube-fill::after {
    background-image: url("../../../icons/logo/youtube-fill.8aa6c2efb31d.svg");
  }

  .fr-icon-youtube-line::before,
  .fr-icon-youtube-line::after {
    background-image: url("../../../icons/logo/youtube-line.7b20150153c4.svg");
  }

  .fr-fi-facebook-circle-fill::before {
    background-image: url("../../../icons/logo/facebook-circle-fill.1794f7c8cfab.svg");
  }

  .fr-fi-facebook-circle-line::before {
    background-image: url("../../../icons/logo/facebook-circle-line.acaddffecc4f.svg");
  }

  .fr-fi-dailymotion-fill::before {
    background-image: url("../../../icons/logo/fr--dailymotion-fill.de05ad96e94b.svg");
  }

  .fr-fi-dailymotion-line::before {
    background-image: url("../../../icons/logo/fr--dailymotion-line.a0865c0633ba.svg");
  }

  .fr-fi-github-fill::before {
    background-image: url("../../../icons/logo/github-fill.d8db33b40952.svg");
  }

  .fr-fi-github-line::before {
    background-image: url("../../../icons/logo/github-line.5e42e09638ff.svg");
  }

  .fr-fi-instagram-fill::before {
    background-image: url("../../../icons/logo/instagram-fill.c00a6162747a.svg");
  }

  .fr-fi-instagram-line::before {
    background-image: url("../../../icons/logo/instagram-line.865eb077848f.svg");
  }

  .fr-fi-linkedin-box-fill::before {
    background-image: url("../../../icons/logo/linkedin-box-fill.bbcdc6796901.svg");
  }

  .fr-fi-linkedin-box-line::before {
    background-image: url("../../../icons/logo/linkedin-box-line.9718f6f58f99.svg");
  }

  .fr-fi-npmjs-fill::before {
    background-image: url("../../../icons/logo/npmjs-fill.c2d2e8c16998.svg");
  }

  .fr-fi-npmjs-line::before {
    background-image: url("../../../icons/logo/npmjs-line.107d5e109017.svg");
  }

  .fr-fi-remixicon-fill::before {
    background-image: url("../../../icons/logo/remixicon-fill.b726a6de3b7a.svg");
  }

  .fr-fi-remixicon-line::before {
    background-image: url("../../../icons/logo/remixicon-line.3c1404a10252.svg");
  }

  .fr-fi-slack-fill::before {
    background-image: url("../../../icons/logo/slack-fill.b496ad7c066a.svg");
  }

  .fr-fi-slack-line::before {
    background-image: url("../../../icons/logo/slack-line.b7e466fb7d3e.svg");
  }

  .fr-fi-snapchat-fill::before {
    background-image: url("../../../icons/logo/snapchat-fill.a224d7ec9939.svg");
  }

  .fr-fi-snapchat-line::before {
    background-image: url("../../../icons/logo/snapchat-line.608dce762cb0.svg");
  }

  .fr-fi-telegram-fill::before {
    background-image: url("../../../icons/logo/telegram-fill.f3fb6bc954ca.svg");
  }

  .fr-fi-telegram-line::before {
    background-image: url("../../../icons/logo/telegram-line.6c476e52d279.svg");
  }

  .fr-fi-twitch-fill::before {
    background-image: url("../../../icons/logo/twitch-fill.875feb4f3fad.svg");
  }

  .fr-fi-twitch-line::before {
    background-image: url("../../../icons/logo/twitch-line.032a53e9bb5d.svg");
  }

  .fr-fi-twitter-fill::before {
    background-image: url("../../../icons/logo/twitter-fill.7bc61c901778.svg");
  }

  .fr-fi-twitter-line::before {
    background-image: url("../../../icons/logo/twitter-line.cf73298bdefb.svg");
  }

  .fr-fi-vimeo-fill::before {
    background-image: url("../../../icons/logo/vimeo-fill.e3dc7f9b56f5.svg");
  }

  .fr-fi-vimeo-line::before {
    background-image: url("../../../icons/logo/vimeo-line.6ccdad9e86f8.svg");
  }

  .fr-fi-youtube-fill::before {
    background-image: url("../../../icons/logo/youtube-fill.8aa6c2efb31d.svg");
  }

  .fr-fi-youtube-line::before {
    background-image: url("../../../icons/logo/youtube-line.7b20150153c4.svg");
  }
}
