celery==5.4.0
Django==3.2
django_currentuser==0.7.0
numpy==1.24.4
openpyxl==3.1.4
pandas==2.0.3
plotly==5.20.0
reportlab==4.0.9
Requests==2.32.3
scikit_learn==1.3.2
urllib3==2.2.2
xhtml2pdf==0.2.15
xlwt==1.3.0
