/*!
 * DSFR v1.7.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  ICON COMMUNICATION
\* ˍˍˍˍˍˍˍˍˍ */
.fr-icon-bluetooth-fill::before,
.fr-icon-bluetooth-fill::after {
  -webkit-mask-image: url("../../../icons/device/bluetooth-fill.3ec40ed8a270.svg");
  mask-image: url("../../../icons/device/bluetooth-fill.3ec40ed8a270.svg");
}

.fr-icon-bluetooth-line::before,
.fr-icon-bluetooth-line::after {
  -webkit-mask-image: url("../../../icons/device/bluetooth-line.3ec40ed8a270.svg");
  mask-image: url("../../../icons/device/bluetooth-line.3ec40ed8a270.svg");
}

.fr-icon-computer-fill::before,
.fr-icon-computer-fill::after {
  -webkit-mask-image: url("../../../icons/device/computer-fill.206cbf56dfac.svg");
  mask-image: url("../../../icons/device/computer-fill.206cbf56dfac.svg");
}

.fr-icon-computer-line::before,
.fr-icon-computer-line::after {
  -webkit-mask-image: url("../../../icons/device/computer-line.c74f196b8b1b.svg");
  mask-image: url("../../../icons/device/computer-line.c74f196b8b1b.svg");
}

.fr-icon-dashboard-3-fill::before,
.fr-icon-dashboard-3-fill::after {
  -webkit-mask-image: url("../../../icons/device/dashboard-3-fill.6d2468e63fa5.svg");
  mask-image: url("../../../icons/device/dashboard-3-fill.6d2468e63fa5.svg");
}

.fr-icon-dashboard-3-line::before,
.fr-icon-dashboard-3-line::after {
  -webkit-mask-image: url("../../../icons/device/dashboard-3-line.7910b6ed4d6e.svg");
  mask-image: url("../../../icons/device/dashboard-3-line.7910b6ed4d6e.svg");
}

.fr-icon-database-fill::before,
.fr-icon-database-fill::after {
  -webkit-mask-image: url("../../../icons/device/database-fill.6ee4051fd689.svg");
  mask-image: url("../../../icons/device/database-fill.6ee4051fd689.svg");
}

.fr-icon-database-line::before,
.fr-icon-database-line::after {
  -webkit-mask-image: url("../../../icons/device/database-line.c54a089492c7.svg");
  mask-image: url("../../../icons/device/database-line.c54a089492c7.svg");
}

.fr-icon-device-fill::before,
.fr-icon-device-fill::after {
  -webkit-mask-image: url("../../../icons/device/device-fill.47e6bedc3f98.svg");
  mask-image: url("../../../icons/device/device-fill.47e6bedc3f98.svg");
}

.fr-icon-device-line::before,
.fr-icon-device-line::after {
  -webkit-mask-image: url("../../../icons/device/device-line.368311b3e8b4.svg");
  mask-image: url("../../../icons/device/device-line.368311b3e8b4.svg");
}

.fr-icon-hard-drive-2-fill::before,
.fr-icon-hard-drive-2-fill::after {
  -webkit-mask-image: url("../../../icons/device/hard-drive-2-fill.483003f86f61.svg");
  mask-image: url("../../../icons/device/hard-drive-2-fill.483003f86f61.svg");
}

.fr-icon-hard-drive-2-line::before,
.fr-icon-hard-drive-2-line::after {
  -webkit-mask-image: url("../../../icons/device/hard-drive-2-line.9417ff508699.svg");
  mask-image: url("../../../icons/device/hard-drive-2-line.9417ff508699.svg");
}

.fr-icon-mac-fill::before,
.fr-icon-mac-fill::after {
  -webkit-mask-image: url("../../../icons/device/mac-fill.aef9c726268c.svg");
  mask-image: url("../../../icons/device/mac-fill.aef9c726268c.svg");
}

.fr-icon-mac-line::before,
.fr-icon-mac-line::after {
  -webkit-mask-image: url("../../../icons/device/mac-line.ebc50826e337.svg");
  mask-image: url("../../../icons/device/mac-line.ebc50826e337.svg");
}

.fr-icon-phone-fill::before,
.fr-icon-phone-fill::after {
  -webkit-mask-image: url("../../../icons/device/phone-fill.036e13ffd027.svg");
  mask-image: url("../../../icons/device/phone-fill.036e13ffd027.svg");
}

.fr-icon-phone-line::before,
.fr-icon-phone-line::after {
  -webkit-mask-image: url("../../../icons/device/phone-line.99baefb549ea.svg");
  mask-image: url("../../../icons/device/phone-line.99baefb549ea.svg");
}

.fr-icon-qr-code-fill::before,
.fr-icon-qr-code-fill::after {
  -webkit-mask-image: url("../../../icons/device/qr-code-fill.ec62694a6383.svg");
  mask-image: url("../../../icons/device/qr-code-fill.ec62694a6383.svg");
}

.fr-icon-qr-code-line::before,
.fr-icon-qr-code-line::after {
  -webkit-mask-image: url("../../../icons/device/qr-code-line.bb5cf0aef3b3.svg");
  mask-image: url("../../../icons/device/qr-code-line.bb5cf0aef3b3.svg");
}

.fr-icon-rss-fill::before,
.fr-icon-rss-fill::after {
  -webkit-mask-image: url("../../../icons/device/rss-fill.4c8cf2a2b41e.svg");
  mask-image: url("../../../icons/device/rss-fill.4c8cf2a2b41e.svg");
}

.fr-icon-rss-line::before,
.fr-icon-rss-line::after {
  -webkit-mask-image: url("../../../icons/device/rss-line.9c18cfbcf676.svg");
  mask-image: url("../../../icons/device/rss-line.9c18cfbcf676.svg");
}

.fr-icon-save-3-fill::before,
.fr-icon-save-3-fill::after {
  -webkit-mask-image: url("../../../icons/device/save-3-fill.990074ac7989.svg");
  mask-image: url("../../../icons/device/save-3-fill.990074ac7989.svg");
}

.fr-icon-save-3-line::before,
.fr-icon-save-3-line::after {
  -webkit-mask-image: url("../../../icons/device/save-3-line.b7a52811b81a.svg");
  mask-image: url("../../../icons/device/save-3-line.b7a52811b81a.svg");
}

.fr-icon-save-fill::before,
.fr-icon-save-fill::after {
  -webkit-mask-image: url("../../../icons/device/save-fill.ca8561284fe9.svg");
  mask-image: url("../../../icons/device/save-fill.ca8561284fe9.svg");
}

.fr-icon-save-line::before,
.fr-icon-save-line::after {
  -webkit-mask-image: url("../../../icons/device/save-line.a8b189cb34a9.svg");
  mask-image: url("../../../icons/device/save-line.a8b189cb34a9.svg");
}

.fr-icon-server-fill::before,
.fr-icon-server-fill::after {
  -webkit-mask-image: url("../../../icons/device/server-fill.bb67efe22f74.svg");
  mask-image: url("../../../icons/device/server-fill.bb67efe22f74.svg");
}

.fr-icon-server-line::before,
.fr-icon-server-line::after {
  -webkit-mask-image: url("../../../icons/device/server-line.0235d559c05b.svg");
  mask-image: url("../../../icons/device/server-line.0235d559c05b.svg");
}

.fr-icon-smartphone-fill::before,
.fr-icon-smartphone-fill::after {
  -webkit-mask-image: url("../../../icons/device/smartphone-fill.f39838599fa9.svg");
  mask-image: url("../../../icons/device/smartphone-fill.f39838599fa9.svg");
}

.fr-icon-smartphone-line::before,
.fr-icon-smartphone-line::after {
  -webkit-mask-image: url("../../../icons/device/smartphone-line.78e1f3f40a49.svg");
  mask-image: url("../../../icons/device/smartphone-line.78e1f3f40a49.svg");
}

.fr-icon-tablet-fill::before,
.fr-icon-tablet-fill::after {
  -webkit-mask-image: url("../../../icons/device/tablet-fill.4c221acbe5b4.svg");
  mask-image: url("../../../icons/device/tablet-fill.4c221acbe5b4.svg");
}

.fr-icon-tablet-line::before,
.fr-icon-tablet-line::after {
  -webkit-mask-image: url("../../../icons/device/tablet-line.31a43e23c823.svg");
  mask-image: url("../../../icons/device/tablet-line.31a43e23c823.svg");
}

.fr-icon-tv-fill::before,
.fr-icon-tv-fill::after {
  -webkit-mask-image: url("../../../icons/device/tv-fill.813168efe711.svg");
  mask-image: url("../../../icons/device/tv-fill.813168efe711.svg");
}

.fr-icon-tv-line::before,
.fr-icon-tv-line::after {
  -webkit-mask-image: url("../../../icons/device/tv-line.c873d4a6ce4a.svg");
  mask-image: url("../../../icons/device/tv-line.c873d4a6ce4a.svg");
}

.fr-icon-wifi-fill::before,
.fr-icon-wifi-fill::after {
  -webkit-mask-image: url("../../../icons/device/wifi-fill.3890ca04dd14.svg");
  mask-image: url("../../../icons/device/wifi-fill.3890ca04dd14.svg");
}

.fr-icon-wifi-line::before,
.fr-icon-wifi-line::after {
  -webkit-mask-image: url("../../../icons/device/wifi-line.e1a464b1f610.svg");
  mask-image: url("../../../icons/device/wifi-line.e1a464b1f610.svg");
}

.fr-fi-phone-fill::before,
.fr-fi-phone-fill::after {
  -webkit-mask-image: url("../../../icons/device/phone-fill.036e13ffd027.svg");
  mask-image: url("../../../icons/device/phone-fill.036e13ffd027.svg");
}

.fr-fi-phone-line::before,
.fr-fi-phone-line::after {
  -webkit-mask-image: url("../../../icons/device/phone-line.99baefb549ea.svg");
  mask-image: url("../../../icons/device/phone-line.99baefb549ea.svg");
}

.fr-fi-rss-fill::before,
.fr-fi-rss-fill::after {
  -webkit-mask-image: url("../../../icons/device/rss-fill.4c8cf2a2b41e.svg");
  mask-image: url("../../../icons/device/rss-fill.4c8cf2a2b41e.svg");
}

.fr-fi-rss-line::before,
.fr-fi-rss-line::after {
  -webkit-mask-image: url("../../../icons/device/rss-line.9c18cfbcf676.svg");
  mask-image: url("../../../icons/device/rss-line.9c18cfbcf676.svg");
}

.fr-fi-save-fill::before,
.fr-fi-save-fill::after {
  -webkit-mask-image: url("../../../icons/device/save-fill.ca8561284fe9.svg");
  mask-image: url("../../../icons/device/save-fill.ca8561284fe9.svg");
}

.fr-fi-save-line::before,
.fr-fi-save-line::after {
  -webkit-mask-image: url("../../../icons/device/save-line.a8b189cb34a9.svg");
  mask-image: url("../../../icons/device/save-line.a8b189cb34a9.svg");
}

@media (min-width: 36em) {
  /*! media sm */
}

@media (min-width: 48em) {
  /*! media md */
}

@media (min-width: 62em) {
  /*! media lg */
}

@media (min-width: 78em) {
  /*! media xl */
}
