{% extends "base.html" %}
{% block title %}Question B1 C1{% endblock %}
{% block content %}
    <div class="row justify-content-md-center">
      <div class=".col-md-">
            <h4 class= 'text-center'style="font-weight: bold;">Pôle B : CONCEVOIR – INNOVER</h4>
      <dl class="dl-horizontal">
                <dt><h6 class= 'text-center'>B1 : Veille pédagogique et techno-pédagogique</h6></dt>
                <div class="container" style="margin-left:10%">
                <dd><p><strong>B1-C1 :</strong> Identifier des sources d’information internes ou externes afin de recenser des évolutions pédagogiques<br>
                ou techno-pédagogiques significatives en étant attentif à la diversité de ces sources</p>
              <ul class="list-group">
              <li>Par defaut la liste indique le Degré 1.</li>
              </ul></div>
              <dl> <div class="col-md-8 col-md-offset-8">
            </dd>
              </dl>
        <form action="{% url 'step1_B1' %}" method="post" class="form-group">
        <div class="d-flex justify-content-center">
        {%csrf_token %}
        <div style="display: none;">{{ form.created_by }}</div>
        <p style="border: 2px solid blueviolet; width : 800px;">{{ form.B1_C1 }}</p></div>
        <div class="d-flex justify-content-center"><button type="submit" class="fr-btn">Suivant</button></div>
        </form>
        </div>
      </div>
  </div>
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-md-offset-8">
              <ul class="list-group">
                <li class="list-group-item list-group-item-info"><p><strong>Degré 1 : </strong>Je repère les sources d’informations pédagogiques :<br>
-	Internes (portails de l’éducation nationale, CAFOC) et les acteurs en interne en capacité de transmettre des ressources sur la veille pédagogique et techno-pédagogique (inspecteurs, CFP experts en région ou au niveau national, etc.).<br>
-	Externes en lien avec la formation professionnelle.</p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 2 : </strong>J’identifie et je sélectionne, avec l’aide d’un collectif de travail de ma structure, ou du réseau académique, les sources d’informations me permettant de recenser des évolutions pédagogiques ou techno-pédagogiques.<br>
Je suis abonné à des newsletters spécialisées. Je participe à des webinaires, des conférences ou des formations sur les évolutions pédagogiques ou techno pédagogiques.<br>

                    <li class="list-group-item list-group-item-info"><p><strong>Degré 3 : </strong>Je réalise ma veille en fonction de mes domaines d’activités.<br>
J’enrichis ma veille pédagogique et technico-pédagogique en la partageant et en la complétant dans les collectifs de travail de ma structure, du réseau académique, du réseau national et de mon réseau partenarial.
                       </p></li>
                    <li class="list-group-item list-group-item-info"><p><strong>Degré 4 :</strong> Je suis un acteur ressource pour le réseau en capacité de croiser différentes sources d’informations internes et externes permettant de recenser les évolutions pédagogiques ou techno-pédagogiques significatives dans mon domaine d’activités.<br>
Je recense à des fins de diffusion (filière, réseau académique, IAGO, …) des évolutions pédagogiques ou techno-pédagogiques significatives en étant attentif à la diversité des sources d’information internes ou externes.</p></li>
              </ul>
          </div>
            </div>
        </div>
</div>


{% endblock %}