{% extends "base.html" %}
{% block title %}Question B1 C2{% endblock %}

{% block content %}
<div class="container">
  <br>
       <dl class="dl-horizontal">
                <dt><h6 class= 'text-center'>B1 : Veille pédagogique et techno-pédagogique</h6></dt>
                 <div class="container" style="margin-left:10%">
                <dd> <p><strong>B1-C2 :</strong> Sélectionner des données pertinentes afin de repérer les évolutions pédagogiques<br>
                ou techno-pédagogiques souhaitables ou indispensables à mettre en œuvre au sein de l’organisation <br>
                en les situant au regard des pratiques actuelles et des consignes ou exigences règlementaires</p></dd>
              <dd>
              </dl>
      </div>
  <div class="row justify-content-md-center">
         <div class=".col-md-">
             <form action="{% url 'step2_B1' %}" method="post" class="form-group">
                  <div class="d-flex justify-content-center">
              {%csrf_token %}
              <div style="display: none;">{{ form.created_by }}</div><br>
              <p style="border: 2px solid blueviolet; width : 810px;">{{ form.B1_C2 }}</p></div>
              <div class="d-flex justify-content-center"><button type="submit" class="fr-btn">Suivant</button></div>
            </form>
            </div>
      </div>
  </div>
        <div class="container">
            <div class="row justify-content-md-center">
            <div class="col-md-8 col-md-offset-8">
              <ul class="list-group">
                <li class="list-group-item list-group-item-info"><p><strong>Degré 1 : </strong>Je m’informe sur les orientations pédagogiques ou techno-pédagogiques attendues par mon organisation et mon système client.<br>
Je connais les pratiques pédagogiques ou techno-pédagogiques existantes au sein de ma structure et du réseau académique, les consignes ou exigences règlementaires attendues.<br>
Je repère les données en lien avec mon domaine d’activités et les pratiques pédagogiques actuelles</p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 2 : </strong>Je mesure les évolutions pédagogiques nécessaires au regard des pratiques actuelles du réseau.<br>
Je participe à la sélection des données dans un collectif de travail, pour identifier la possibilité des évolutions pédagogiques.</p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 3 : </strong>
                    Je sélectionne en autonomie les données pertinentes permettant d’identifier les évolutions pédagogiques et techno pédagogiques à mettre en œuvre.<br>
                  </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 4 : </strong>
                    Je sélectionne les données pertinentes à des fins de contribution académique, nationale.<br>
Je suis un acteur ressource pour le réseau en capacité de modéliser les process de sélection de données pertinentes et d’accompagner mes pairs.
                  </p></li>
              </ul>
        </div>
    </div>
</div>


{% endblock %}