{% extends "base.html" %}
{% block title %}Question B4 C3{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
      <div class=".col-md-">
      <dl class="dl-horizontal">
                <dt><h6 class= 'text-center'>B4 : Formalisation d’offres de prestation</h6></dt>
                <div class="container" style="margin-left:10%">
                <dd><p><strong>B4-C3:</strong> Présenter et négocier une offre de prestation afin de rendre possible<br>
                la contractualisation en veillant à préserver les intérêts de l’organisation</p></dd>
              <dd>
              </dl>
      </div>
  <div class="row justify-content-md-center">
         <div class=".col-md-">
             <form action="{% url 'step3_B4' %}" method="post" class="form-group">
                  <div class="d-flex justify-content-center">
              {%csrf_token %}
              <div style="display: none;">{{ form.created_by }}</div><br>
              <p style="border: 2px solid blueviolet; width : 810px;">{{ form.B4_C3 }}</p></div>
              <div class="d-flex justify-content-center"><button type="submit" class="fr-btn">Enregistrer</button></div>
            </form>
            </div>
      </div>
  </div>
        <div class="container">
            <div class="row justify-content-md-center">
            <div class="col-md-8 col-md-offset-8">
              <ul class="list-group">
                <li class="list-group-item list-group-item-info"><p style="font-weight:400;"><strong>Degré 1 : </strong>Je connais :<br>
-	les intérêts de l’organisation en matière de stratégie de développement.<br>
-	les différents supports de présentation d’une offre de prestation (réponse à appel d’offres, devis, fiche produit, catalogue, etc.).<br>
-	la politique tarifaire en vigueur au sein de ma structure, du réseau.

                  </p></li>
                  <li class="list-group-item list-group-item-info"><p style="font-weight:400;"><strong>Degré 2 : </strong>Au sein d’un collectif de travail, je contribue à la construction d’un argumentaire pour la négociation.<br>
Je choisis le support de présentation approprié à la modalité de négociation.<br>
Je prépare ma négociation en termes de contenus et d’intervenants, de durée et de tarif en m’appuyant sur les expertises de mes pairs.

</p></li>
                  <li class="list-group-item list-group-item-info"><p style="font-weight:400;"><strong>Degré 3 : </strong>
                  Je construis un argumentaire pour préparer la phase de négociation.<br>
J’identifie les marges de négociation à partir de l’analyse financière de mon offre de prestation.<br>
Dans ma présentation, je mets en avant la plus-value de mon offre par rapport à la concurrence.
J’adapte mon offre en fonction des résultats de la négociation.

                  </p></li>
                  <li class="list-group-item list-group-item-info"><p style="font-weight:400;"><strong>Degré 4 : </strong>
                  Je suis un acteur ressource pour le réseau en capacité de modéliser les process de négociation.<br>
Je mène des négociations avec les grands comptes privés et publics.<br>
Je contribue à définir la tarification dans un groupement.


                  </p></li>
              </ul>
        </div>
    </div>
</div>
</div>

{% endblock %}