{% extends "base.html" %}
{% block title %}Question B2 C2{% endblock %}
{% block content %}
 <div class="row justify-content-md-center">
      <div class=".col-md-">
      <dl class="dl-horizontal">
          <dt><h6 class= 'text-center'>B2 : Analyse de demandes</h6></dt>
          <div class="container" style="margin-left:10%">
                <dd> <p><strong>B2-C2 :</strong> Caractériser le contexte d’expression de la demande afin d’identifier les contraintes<br>
                et les variables à prendre en compte dans la conception de la réponse en complétant<br>
                si besoin le questionnement de la demande</p></dd>
              <dd>
              </dl>
      </div>
  <div class="row justify-content-md-center">
         <div class=".col-md-">
             <form action="{% url 'step2_B2' %}" method="post" class="form-group">
                  <div class="d-flex justify-content-center">
              {%csrf_token %}
              <div style="display: none;">{{ form.created_by }}</div><br>
              <p style="border: 2px solid blueviolet; width : 810px;">{{ form.B2_C2 }}</p></div>
              <div class="d-flex justify-content-center"><button type="submit" class="fr-btn">Suivant</button></div>
            </form>
            </div>
      </div>
  </div>
        <div class="container">
            <div class="row justify-content-md-center">
            <div class="col-md-8 col-md-offset-8">
              <ul class="list-group">
                <li class="list-group-item list-group-item-info"><p style="font-weight:400;"><strong>Degré 1 :</strong> Je connais :<br>
-	les éléments qualifiant le contexte d’une demande (enjeux, stratégie, domaine, métiers, temporalité, ...).<br>
-	les contraintes et les variables à prendre en compte dans la conception d’une réponse.

                  </p></li>
                  <li class="list-group-item list-group-item-info"><p style="font-weight:400;"><strong>Degré 2 : </strong>Je pose des questions ciblées ou bien je décrypte les différents supports d’un AO afin de caractériser le contexte de la demande exprimée.<br>
Je repère les contraintes et les variables à prendre en compte dans la conception de la réponse à apporter.

</p></li>
                  <li class="list-group-item list-group-item-info"><p style="font-weight:400;"><strong>Degré 3 : </strong>
                  Je vérifie ma compréhension du contexte en reformulant la demande.<br>
Je prends en compte toutes les contraintes dans la conception de la réponse.<br>
Je capitalise dans un document cadre l’ensemble des éléments recueillis permettant la qualification de la demande.
</p></li>
                  <li class="list-group-item list-group-item-info"><p style="font-weight:400;"><strong>Degré 4 : </strong>
                  Je prends en compte la pluralité des enjeux dans l’analyse du contexte de la demande.<br>
Je repère les analogies avec d’autres contextes de demandes que j’ai déjà analysés pour enrichir ma réponse.

                  </p></li>
              </ul>
        </div>
    </div>
</div>
</div>
{% endblock %}