{% extends "base.html" %}
{% block title %}Question B3 C2{% endblock %}

{% block content %}
 <div class="row justify-content-md-center">
      <div class=".col-md-">
      <dl class="dl-horizontal">
                <dt><h6 class= 'text-center'>B3 : Conception de dispositifs de développement de compétences<br>et d’accompagnement de parcours</h6></dt>
                <div class="container" style="margin-left:10%">
                <dd><p><strong>B3-C2 :</strong> Identifier des options méthodologiques, pédagogiques ou techniques envisageables afin de stimuler<br>
                une capacité d’innovation en mobilisant des savoir-faire en matière d’ingénierie de formation,<br> de parcours, de certification et financière</p></dd>
              <dd>

      </div>
  <div class="row justify-content-md-center">
         <div class=".col-md-">
             <form action="{% url 'step2_B3' %}" method="post" class="form-group">
                  <div class="d-flex justify-content-center">
              {%csrf_token %}
              <div style="display: none;">{{ form.created_by }}</div><br>
              <p style="border: 2px solid blueviolet; width : 810px;">{{ form.B3_C2 }}</p></div>
              <div class="d-flex justify-content-center"><button type="submit" class="fr-btn">Suivant</button></div>
            </form>
            </div>
      </div>
  </div>
        <div class="container">
            <div class="row justify-content-md-center">
            <div class="col-md-8 col-md-offset-8">
              <ul class="list-group">
                <li class="list-group-item list-group-item-info"><p style="font-weight: 400;"><strong>Degré 1 : </strong>Je connais :<br>
-	les approches innovantes dans les dispositifs de développement des compétences.<br>
-	les méthodes, les modalités pédagogiques et les dispositifs de formation actuellement mis en œuvre.<br>
-	les différents types de certifications.<br>
-	les différentes modalités de financement de la formation professionnelle.

                  </p></li>
                  <li class="list-group-item list-group-item-info"><p style="font-weight: 400;"><strong>Degré 2 : </strong>J’étudie les options méthodologiques, pédagogiques, techniques et financières adaptées au projet.<br>
Je contribue dans un collectif de travail, à identifier les approches innovantes

</p></li>
                  <li class="list-group-item list-group-item-info"><p style="font-weight: 400;"><strong>Degré 3 : </strong>J’identifie les acteurs internes et externes disposant des savoir-faire pour innover.<br>
J’anime une équipe ressource afin de stimuler l’innovation.<br>
En concertation avec l’équipe, je choisis les options méthodologiques, pédagogiques, techniques et financières adaptées au projet. Je développe des solutions nouvelles ou j’adapte des solutions existantes.

                  </p></li>
                  <li class="list-group-item list-group-item-info"><p style="font-weight: 400;"><strong>Degré 4 : </strong>Je suis un acteur ressource pour le réseau en termes d’innovation, en capacité de conseiller
                  sur le choix des options méthodologiques, pédagogiques, techniques et financières adaptées aux projets.
                  </p></li>
              </ul>
        </div>
    </div>
</div>
</div>

{% endblock %}