{% extends "base.html" %}
{% block title %}Question B2 C3{% endblock %}
{% block content %}
<div class="container">
  <br>
      <dl class="dl-horizontal">
          <dt><h6 class= 'text-center'>B2 : Analyse de demandes</h6></dt>
          <div class="container" style="margin-left:10%">
                <dd> <p><strong>B2-C3 :</strong> Étudier la faisabilité de la prestation afin d’apprécier l’opportunité d’une offre en tenant compte<br>
                des ressources humaines, techniques, financières, le cas échéant partenariales, requises ou mobilisables</p></dd>
              <dd>
              </dl>
      </div>
  <div class="row justify-content-md-center">
         <div class=".col-md-">
             <form action="{% url 'step3_B2' %}" method="post" class="form-group">
                  <div class="d-flex justify-content-center">
              {%csrf_token %}
              <div style="display: none;">{{ form.created_by }}</div><br>
              <p style="border: 2px solid blueviolet; width : 810px;">{{ form.B2_C3 }}</p></div>
              <div class="d-flex justify-content-center"><button type="submit" class="fr-btn">Enregistrement</button></div>
            </form>
            </div>
      </div>
  </div>
        <div class="container">
            <div class="row justify-content-md-center">
            <div class="col-md-8 col-md-offset-8">
              <ul class="list-group">
                <li class="list-group-item list-group-item-info"><p style="font-weight:400;"><strong>Degré 1 : </strong> Je connais les éléments constitutifs d’une étude de faisabilité.<br>
J’identifie les interlocuteurs facilitateurs et les parties prenantes internes et externes (inspecteurs, chefs d’établissements, DDFPT, CESUP, partenaires externes).

                  </p></li>
                  <li class="list-group-item list-group-item-info"><p style="font-weight:400;"><strong>Degré 2 : </strong>Je recueille les données nécessaires à l’étude de faisabilité du projet en termes de ressources humaines, techniques, financières et partenariales à mobiliser.<br>
Je contribue à l’étude de faisabilité d’une prestation dans un collectif de travail.

</p></li>
                  <li class="list-group-item list-group-item-info"><p style="font-weight:400;"><strong>Degré 3 : </strong>Je produis une étude de faisabilité à partir de l’analyse des éléments financiers, humains, pédagogiques et techniques recueillis.<br>
Je rédige une note d’opportunité. Je présente les éléments de l’offre et je conseille les décideurs sur les enjeux et la faisabilité.

                  </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 4 : </strong>
                    J’adapte mon étude de faisabilité à différents contextes, projets et acteurs.<br>
Je suis un acteur ressource du réseau pour transmettre mes compétences et une méthode structurée pour l’étude de faisabilité d’une prestation.
                  </p></li>
              </ul>
        </div>
    </div>
</div>

{% endblock %}