{% extends "base.html" %}
{% block title %}Question C2 C1{% endblock %}

{% block content %}

<div class="container-fluid" style="margin-left:17px">
    <br>
  <h4 class= 'text-center'style="font-weight: bold;">Pôle C : PILOTER – ANIMER</h4>
      <dl class="dl-horizontal">
                <dt><h6 class= 'text-center'>C2 : Animation de collectifs de travail</h6></dt>
                <dd><p class= 'text-center'><strong><strong>C2-C1 :</strong> Mobiliser des équipes sur des projets afin d’atteindre <br>
                des objectifs visés en tenant compte du périmètre d’action et des responsabilités de chacun</p></dd>
              <dd></dl>
              <div class="row justify-content-md-center">
    <div class="col-md-8 col-md-offset-8">
            <ul class="list-group">
              <li>Par defaut la liste indique le Degré 1.</li>
            </ul></dd>
              </dl>
              </div>
</div>
<br>
    <div class="row justify-content-md-center">
      <div class=".col-md-">
        <form action="{% url 'step1_C2' %}" method="post" class="form-group">
        <div class="d-flex justify-content-center">
        {%csrf_token %}
        <div style="display: none;">{{ form.created_by }}</div>
        <p style="border: 2px solid blueviolet; width : 810px;">{{ form.C2_C1 }}</p></div>
        <div class="d-flex justify-content-center"><button type="submit" class="fr-btn">Suivant</button></div>
        </form>
        </div>
      </div>
  </div>
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-md-offset-8">
              <ul class="list-group">
                <li class="list-group-item list-group-item-info"><p style="font-weight:400"><strong>Degré 1 : </strong>Je connais l’organigramme, les fonctions et les missions de chacun dans ma structure. Je connais mon périmètre d’action, les liens fonctionnels et hiérarchiques.<br>
J’identifie les compétences internes nécessaires au projet.<br>
J’explicite le projet en précisant les objectifs à atteindre et en valorisant l’intérêt pour les équipes.<br>
                  </p></li>
                  <li class="list-group-item list-group-item-info"><p style="font-weight:400"><strong>Degré 2 : </strong>Je mobilise une équipe sur la durée du projet jusqu’à l’atteinte des objectifs, en concertation avec les parties prenantes.<br>
J’adapte ma communication en fonction des acteurs de mon organisation.
                    </p></li>
                    <li class="list-group-item list-group-item-info"><p style="font-weight:400"><strong>Degré 3 : </strong>Je fédère les équipes autour d’un sens partagé en expliquant les enjeux et l’ingénierie du projet.<br>
Je m’assure que les moyens et les compétences du collectif sont mis en place par ma structure dans les délais impartis.
                      </p></li>
                    <li class="list-group-item list-group-item-info"><p style="font-weight:400"><strong>Degré 4 :</strong> Je suis un acteur ressource pour le réseau en capacité de mobiliser des équipes sur des projets
                    d’envergure académique, nationale (groupements, partenariats, financements…).
                      </p></li>
              </ul>
          </div>
            </div>
        </div>
        </div>

{% endblock %}