{% extends "base.html" %}
{% block title %}Question C1 C3{% endblock %}
{% block content %}


<div class="container-fluid" style="margin-left:17px">
    <br>
<div class="row justify-content-md-center">
      <dl class="dl-horizontal">
                <dt><h6 class= 'text-center'>C1 : Management de projets</h6></dt>
                <dd> <p class= 'text-center'><strong>C1-C3 :</strong> Évaluer la mise en œuvre des projets afin de pouvoir en rendre compte régulièrement et opérer les régulations<br>
                nécessaires le cas échant en utilisant des critères et indicateurs prédéfinis</p></dd>
              <dd></dl>

</div>
<br>
    <div class="row justify-content-md-center">
      <div class=".col-md-">
        <form action="{% url 'step3_C1' %}" method="post" class="form-group">
        <div class="d-flex justify-content-center">
        {%csrf_token %}
        <div style="display: none;">{{ form.created_by }}</div>
        <p style="border: 2px solid blueviolet; width : 810px;">{{ form.C1_C3 }}</p></div>
        <div class="d-flex justify-content-center"><button type="submit" class="fr-btn">Enregistrement</button></div>
        </form>
        </div>
      </div>
  </div>
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-md-offset-8">
              <ul class="list-group">
                <li class="list-group-item list-group-item-info"><p><strong>Degré 1 : </strong>Je connais : <br>
                - les modalités et les indicateurs d’évaluation de projets déjà mis en œuvre. <br>
                - les acteurs internes et externes, les instances pour rendre compte du suivi du projet.
                  </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 2 : </strong>J’utilise les outils d’évaluation et de suivi/de bilan mis à disposition par ma structure, le réseau académique et le cas échéant par les commanditaires.<br>
                  Je participe aux réunions de suivi et à la régulation du projet (conventions, bons de commande, plan individuel de formation…)
                    </p></li>
                    <li class="list-group-item list-group-item-info"><p><strong>Degré 3 : </strong>J’anime des points d’étape de réalisation du projet afin de mesurer l’état d’avancement, les écarts éventuels et les actions correctives.<br>
                    J’utilise des outils d’évaluation pour reporter à l’interne et à l’externe. <br>
                    Si besoin, j’ajuste les indicateurs permettant de suivre et d’évaluer le projet. <br>
                    J’analyse les résultats et je les communique à l’interne et à l’externe. <br>
                    Je suis en capacité de conseiller sur l’adaptation des moyens en fonction de l’évolution d’un projet.
                      </p></li>
                    <li class="list-group-item list-group-item-info"><p><strong>Degré 4 : </strong>Je suis un acteur ressource pour le réseau en capacité de suivre et d’évaluer des projets d’envergure régionale,
                    nationale, européenne, des projets impliquant des partenaires.
                      </p></li>
              </ul>
          </div>
            </div>
        </div>
        </div>

{% endblock %}