{% extends "base.html" %}
{% block title %}Question C4 C3{% endblock %}
{% block content %}
<div class="container-fluid" style="margin-left:17px">
    <br>
<div class="row justify-content-md-center">
      <dl class="dl-horizontal">
                <dt><h6 class= 'text-center'>C4 : Contribution à la démarche qualité</h6></dt>
                <dd> <p class= 'text-center'><strong>C4-C3 :</strong> Contribuer à l’amélioration continue des processus et prestations de l’organisation <br>
                afin de conforter sa position sur le marché en participant aux plans d’actions associés</p></dd>
              <dd></dl>

</div>
<br>
    <div class="row justify-content-md-center">
      <div class=".col-md-">
        <form action="{% url 'step3_C4' %}" method="post" class="form-group">
        <div class="d-flex justify-content-center">
        {%csrf_token %}
        <div style="display: none;">{{ form.created_by }}</div>
        <p style="border: 2px solid blueviolet; width : 810px;">{{ form.C4_C3 }}</p></div>
        <div class="d-flex justify-content-center"><button type="submit" class="fr-btn">Enregistrement</button></div>
        </form>
        </div>
      </div>
  </div>
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-md-offset-8">
              <ul class="list-group">
                <li class="list-group-item list-group-item-info"><p><strong>Degré 1 : </strong>Je connais le cycle d’amélioration et je peux le décrire.<br>
Je connais les instances et les outils applicables à la démarche d’amélioration continue.

                  </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 2 : </strong>J’évalue la qualité des prestations au regard du cahier des charges pour identifier les écarts et alerter sur les risques potentiels.<br>
Je participe aux instances d’animation ou de revue de processus (groupe processus, RDD, …).

                    </p></li>
                    <li class="list-group-item list-group-item-info"><p><strong>Degré 3 : </strong>J’analyse le résultat des indicateurs au sein d’un collectif et j’assure le reporting auprès du service qualité et de la direction de ma structure.<br>
Je propose des actions correctives à l’interne et à l’externe.<br>
Je participe à l’amélioration continue des processus et des prestations de ma structure.

                      </p></li>
                    <li class="list-group-item list-group-item-info"><p><strong>Degré 4 : </strong>Je suis pilote du processus d’amélioration continue de ma structure et je suis un relais au niveau académique.<br>
Je conseille sur les outils et les moyens de contrôle de l’amélioration continue.

                      </p></li>
              </ul>
          </div>
            </div>
        </div>
        </div>

{% endblock %}