/*!
 * DSFR v1.7.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  ICON COMMUNICATION
\* ˍˍˍˍˍˍˍˍˍ */
.fr-icon-bank-card-fill::before,
.fr-icon-bank-card-fill::after {
  -webkit-mask-image: url("../../../icons/finance/bank-card-fill.8386c21797f0.svg");
  mask-image: url("../../../icons/finance/bank-card-fill.8386c21797f0.svg");
}

.fr-icon-bank-card-line::before,
.fr-icon-bank-card-line::after {
  -webkit-mask-image: url("../../../icons/finance/bank-card-line.8a43ae4ab84e.svg");
  mask-image: url("../../../icons/finance/bank-card-line.8a43ae4ab84e.svg");
}

.fr-icon-coin-fill::before,
.fr-icon-coin-fill::after {
  -webkit-mask-image: url("../../../icons/finance/coin-fill.21576adbbd8f.svg");
  mask-image: url("../../../icons/finance/coin-fill.21576adbbd8f.svg");
}

.fr-icon-gift-fill::before,
.fr-icon-gift-fill::after {
  -webkit-mask-image: url("../../../icons/finance/gift-fill.99922022434a.svg");
  mask-image: url("../../../icons/finance/gift-fill.99922022434a.svg");
}

.fr-icon-gift-line::before,
.fr-icon-gift-line::after {
  -webkit-mask-image: url("../../../icons/finance/gift-line.1206c85e8d9b.svg");
  mask-image: url("../../../icons/finance/gift-line.1206c85e8d9b.svg");
}

.fr-icon-money-euro-box-fill::before,
.fr-icon-money-euro-box-fill::after {
  -webkit-mask-image: url("../../../icons/finance/money-euro-box-fill.7300be3acc1c.svg");
  mask-image: url("../../../icons/finance/money-euro-box-fill.7300be3acc1c.svg");
}

.fr-icon-money-euro-box-line::before,
.fr-icon-money-euro-box-line::after {
  -webkit-mask-image: url("../../../icons/finance/money-euro-box-line.69817b7f3b9c.svg");
  mask-image: url("../../../icons/finance/money-euro-box-line.69817b7f3b9c.svg");
}

.fr-icon-money-euro-circle-fill::before,
.fr-icon-money-euro-circle-fill::after {
  -webkit-mask-image: url("../../../icons/finance/money-euro-circle-fill.9b6dde53555d.svg");
  mask-image: url("../../../icons/finance/money-euro-circle-fill.9b6dde53555d.svg");
}

.fr-icon-money-euro-circle-line::before,
.fr-icon-money-euro-circle-line::after {
  -webkit-mask-image: url("../../../icons/finance/money-euro-circle-line.036630dcd614.svg");
  mask-image: url("../../../icons/finance/money-euro-circle-line.036630dcd614.svg");
}

.fr-icon-secure-payment-fill::before,
.fr-icon-secure-payment-fill::after {
  -webkit-mask-image: url("../../../icons/finance/secure-payment-fill.30f9ee47ad17.svg");
  mask-image: url("../../../icons/finance/secure-payment-fill.30f9ee47ad17.svg");
}

.fr-icon-secure-payment-line::before,
.fr-icon-secure-payment-line::after {
  -webkit-mask-image: url("../../../icons/finance/secure-payment-line.0b3b357eb6d8.svg");
  mask-image: url("../../../icons/finance/secure-payment-line.0b3b357eb6d8.svg");
}

.fr-icon-shopping-bag-fill::before,
.fr-icon-shopping-bag-fill::after {
  -webkit-mask-image: url("../../../icons/finance/shopping-bag-fill.0aa3f6b45edd.svg");
  mask-image: url("../../../icons/finance/shopping-bag-fill.0aa3f6b45edd.svg");
}

.fr-icon-shopping-bag-line::before,
.fr-icon-shopping-bag-line::after {
  -webkit-mask-image: url("../../../icons/finance/shopping-bag-line.fde85a8cb7fe.svg");
  mask-image: url("../../../icons/finance/shopping-bag-line.fde85a8cb7fe.svg");
}

.fr-icon-shopping-cart-2-fill::before,
.fr-icon-shopping-cart-2-fill::after {
  -webkit-mask-image: url("../../../icons/finance/shopping-cart-2-fill.df309b0912c2.svg");
  mask-image: url("../../../icons/finance/shopping-cart-2-fill.df309b0912c2.svg");
}

.fr-icon-shopping-cart-2-line::before,
.fr-icon-shopping-cart-2-line::after {
  -webkit-mask-image: url("../../../icons/finance/shopping-cart-2-line.e0baf68b7f5f.svg");
  mask-image: url("../../../icons/finance/shopping-cart-2-line.e0baf68b7f5f.svg");
}

.fr-icon-trophy-fill::before,
.fr-icon-trophy-fill::after {
  -webkit-mask-image: url("../../../icons/finance/trophy-fill.81efc89f7ce1.svg");
  mask-image: url("../../../icons/finance/trophy-fill.81efc89f7ce1.svg");
}

.fr-icon-trophy-line::before,
.fr-icon-trophy-line::after {
  -webkit-mask-image: url("../../../icons/finance/trophy-line.3fa4c3266629.svg");
  mask-image: url("../../../icons/finance/trophy-line.3fa4c3266629.svg");
}

@media (min-width: 36em) {
  /*! media sm */
}

@media (min-width: 48em) {
  /*! media md */
}

@media (min-width: 62em) {
  /*! media lg */
}

@media (min-width: 78em) {
  /*! media xl */
}
