/*!
 * DSFR v1.7.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media (min-width: 36em) {
  /*! media sm */
}
@media (min-width: 48em) {
  /*! media md */
}
@media (min-width: 62em) {
  /*! media lg */
}
@media (min-width: 78em) {
  /*! media xl */
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fr-icon-code-view::before,
  .fr-icon-code-view::after {
    background-image: url("../../../icons/editor/code-view.e9cc9882b5c8.svg");
  }

  .fr-icon-font-size::before,
  .fr-icon-font-size::after {
    background-image: url("../../../icons/editor/font-size.85701dc848b2.svg");
  }

  .fr-icon-bold::before,
  .fr-icon-bold::after {
    background-image: url("../../../icons/editor/fr--bold.dff1213e4381.svg");
  }

  .fr-icon-highlight::before,
  .fr-icon-highlight::after {
    background-image: url("../../../icons/editor/fr--highlight.c2d422af10b1.svg");
  }

  .fr-icon-quote-fill::before,
  .fr-icon-quote-fill::after {
    background-image: url("../../../icons/editor/fr--quote-fill.af6e960742a8.svg");
  }

  .fr-icon-quote-line::before,
  .fr-icon-quote-line::after {
    background-image: url("../../../icons/editor/fr--quote-line.4b494d811ca1.svg");
  }

  .fr-icon-h-1::before,
  .fr-icon-h-1::after {
    background-image: url("../../../icons/editor/h-1.a277176492e8.svg");
  }

  .fr-icon-h-2::before,
  .fr-icon-h-2::after {
    background-image: url("../../../icons/editor/h-2.e82e6dff16f9.svg");
  }

  .fr-icon-h-3::before,
  .fr-icon-h-3::after {
    background-image: url("../../../icons/editor/h-3.a11934b15e9a.svg");
  }

  .fr-icon-h-4::before,
  .fr-icon-h-4::after {
    background-image: url("../../../icons/editor/h-4.9e61d435611d.svg");
  }

  .fr-icon-h-5::before,
  .fr-icon-h-5::after {
    background-image: url("../../../icons/editor/h-5.36dbbafdbeae.svg");
  }

  .fr-icon-h-6::before,
  .fr-icon-h-6::after {
    background-image: url("../../../icons/editor/h-6.ff8f452dbf9c.svg");
  }

  .fr-icon-hashtag::before,
  .fr-icon-hashtag::after {
    background-image: url("../../../icons/editor/hashtag.8f657ba6b74b.svg");
  }

  .fr-icon-italic::before,
  .fr-icon-italic::after {
    background-image: url("../../../icons/editor/italic.070ddda94773.svg");
  }

  .fr-icon-link-unlink::before,
  .fr-icon-link-unlink::after {
    background-image: url("../../../icons/editor/link-unlink.4dae86e32848.svg");
  }

  .fr-icon-link::before,
  .fr-icon-link::after {
    background-image: url("../../../icons/editor/link.3196ed5737c2.svg");
  }

  .fr-icon-list-ordered::before,
  .fr-icon-list-ordered::after {
    background-image: url("../../../icons/editor/list-ordered.81ddda87654b.svg");
  }

  .fr-icon-list-unordered::before,
  .fr-icon-list-unordered::after {
    background-image: url("../../../icons/editor/list-unordered.be79c192a556.svg");
  }

  .fr-icon-question-mark::before,
  .fr-icon-question-mark::after {
    background-image: url("../../../icons/editor/question-mark.a1ea21c9755b.svg");
  }

  .fr-icon-separator::before,
  .fr-icon-separator::after {
    background-image: url("../../../icons/editor/separator.6bf6ea8a8c7f.svg");
  }

  .fr-icon-space::before,
  .fr-icon-space::after {
    background-image: url("../../../icons/editor/space.5ef7f59bc3bb.svg");
  }

  .fr-icon-subscript::before,
  .fr-icon-subscript::after {
    background-image: url("../../../icons/editor/subscript.73b9fe2aca7d.svg");
  }

  .fr-icon-superscript::before,
  .fr-icon-superscript::after {
    background-image: url("../../../icons/editor/superscript.f4d05fc60b3b.svg");
  }

  .fr-icon-table-2::before,
  .fr-icon-table-2::after {
    background-image: url("../../../icons/editor/table-2.e4d77f94597d.svg");
  }

  .fr-icon-translate-2::before,
  .fr-icon-translate-2::after {
    background-image: url("../../../icons/editor/translate-2.22ea8fbff16a.svg");
  }

  .fr-fi-font-size::before {
    background-image: url("../../../icons/editor/font-size.85701dc848b2.svg");
  }

  .fr-fi-bold::before {
    background-image: url("../../../icons/editor/fr--bold.dff1213e4381.svg");
  }

  .fr-fi-highlight::before {
    background-image: url("../../../icons/editor/fr--highlight.c2d422af10b1.svg");
  }

  .fr-fi-italic::before {
    background-image: url("../../../icons/editor/italic.070ddda94773.svg");
  }

  .fr-fi-link-unlink::before {
    background-image: url("../../../icons/editor/link-unlink.4dae86e32848.svg");
  }

  .fr-fi-list-ordered::before {
    background-image: url("../../../icons/editor/list-ordered.81ddda87654b.svg");
  }

  .fr-fi-list-unordered::before {
    background-image: url("../../../icons/editor/list-unordered.be79c192a556.svg");
  }
}
