/*!
 * DSFR v1.7.2 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ¯¯¯¯¯¯¯¯¯ *\
  ICON SYSTEM
\* ˍˍˍˍˍˍˍˍˍ */
.fr-icon-add-circle-fill::before,
.fr-icon-add-circle-fill::after {
  -webkit-mask-image: url("../../../icons/system/add-circle-fill.6486e787e3ec.svg");
  mask-image: url("../../../icons/system/add-circle-fill.6486e787e3ec.svg");
}

.fr-icon-add-circle-line::before,
.fr-icon-add-circle-line::after {
  -webkit-mask-image: url("../../../icons/system/add-circle-line.285bc9907910.svg");
  mask-image: url("../../../icons/system/add-circle-line.285bc9907910.svg");
}

.fr-icon-add-line::before,
.fr-icon-add-line::after {
  -webkit-mask-image: url("../../../icons/system/add-line.f59d35b996e1.svg");
  mask-image: url("../../../icons/system/add-line.f59d35b996e1.svg");
}

.fr-icon-alarm-warning-fill::before,
.fr-icon-alarm-warning-fill::after {
  -webkit-mask-image: url("../../../icons/system/alarm-warning-fill.d5533555b596.svg");
  mask-image: url("../../../icons/system/alarm-warning-fill.d5533555b596.svg");
}

.fr-icon-alarm-warning-line::before,
.fr-icon-alarm-warning-line::after {
  -webkit-mask-image: url("../../../icons/system/alarm-warning-line.3a5f69271351.svg");
  mask-image: url("../../../icons/system/alarm-warning-line.3a5f69271351.svg");
}

.fr-icon-alert-fill::before,
.fr-icon-alert-fill::after {
  -webkit-mask-image: url("../../../icons/system/alert-fill.ccf51c82392a.svg");
  mask-image: url("../../../icons/system/alert-fill.ccf51c82392a.svg");
}

.fr-icon-alert-line::before,
.fr-icon-alert-line::after {
  -webkit-mask-image: url("../../../icons/system/alert-line.3ed3b63a1861.svg");
  mask-image: url("../../../icons/system/alert-line.3ed3b63a1861.svg");
}

.fr-icon-arrow-down-fill::before,
.fr-icon-arrow-down-fill::after {
  -webkit-mask-image: url("../../../icons/system/arrow-down-fill.b50b719bddbf.svg");
  mask-image: url("../../../icons/system/arrow-down-fill.b50b719bddbf.svg");
}

.fr-icon-arrow-down-line::before,
.fr-icon-arrow-down-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-down-line.cdcbe20cde3e.svg");
  mask-image: url("../../../icons/system/arrow-down-line.cdcbe20cde3e.svg");
}

.fr-icon-arrow-down-s-fill::before,
.fr-icon-arrow-down-s-fill::after {
  -webkit-mask-image: url("../../../icons/system/arrow-down-s-fill.9c599238a363.svg");
  mask-image: url("../../../icons/system/arrow-down-s-fill.9c599238a363.svg");
}

.fr-icon-arrow-down-s-line::before,
.fr-icon-arrow-down-s-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-down-s-line.4ac4f4c7f991.svg");
  mask-image: url("../../../icons/system/arrow-down-s-line.4ac4f4c7f991.svg");
}

.fr-icon-arrow-go-back-fill::before,
.fr-icon-arrow-go-back-fill::after {
  -webkit-mask-image: url("../../../icons/system/arrow-go-back-fill.58dcaa705a4f.svg");
  mask-image: url("../../../icons/system/arrow-go-back-fill.58dcaa705a4f.svg");
}

.fr-icon-arrow-go-back-line::before,
.fr-icon-arrow-go-back-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-go-back-line.52e23c19d525.svg");
  mask-image: url("../../../icons/system/arrow-go-back-line.52e23c19d525.svg");
}

.fr-icon-arrow-go-forward-fill::before,
.fr-icon-arrow-go-forward-fill::after {
  -webkit-mask-image: url("../../../icons/system/arrow-go-forward-fill.96d16ec21077.svg");
  mask-image: url("../../../icons/system/arrow-go-forward-fill.96d16ec21077.svg");
}

.fr-icon-arrow-go-forward-line::before,
.fr-icon-arrow-go-forward-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-go-forward-line.c2bdd2932745.svg");
  mask-image: url("../../../icons/system/arrow-go-forward-line.c2bdd2932745.svg");
}

.fr-icon-arrow-left-fill::before,
.fr-icon-arrow-left-fill::after {
  -webkit-mask-image: url("../../../icons/system/arrow-left-fill.3c387e2f9359.svg");
  mask-image: url("../../../icons/system/arrow-left-fill.3c387e2f9359.svg");
}

.fr-icon-arrow-left-line::before,
.fr-icon-arrow-left-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-left-line.fc03672e912e.svg");
  mask-image: url("../../../icons/system/arrow-left-line.fc03672e912e.svg");
}

.fr-icon-arrow-left-s-fill::before,
.fr-icon-arrow-left-s-fill::after {
  -webkit-mask-image: url("../../../icons/system/arrow-left-s-fill.bebea89b9a88.svg");
  mask-image: url("../../../icons/system/arrow-left-s-fill.bebea89b9a88.svg");
}

.fr-icon-arrow-left-s-line::before,
.fr-icon-arrow-left-s-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-left-s-line.663154e3caa6.svg");
  mask-image: url("../../../icons/system/arrow-left-s-line.663154e3caa6.svg");
}

.fr-icon-arrow-right-fill::before,
.fr-icon-arrow-right-fill::after {
  -webkit-mask-image: url("../../../icons/system/arrow-right-fill.e5992505cf98.svg");
  mask-image: url("../../../icons/system/arrow-right-fill.e5992505cf98.svg");
}

.fr-icon-arrow-right-line::before,
.fr-icon-arrow-right-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-right-line.3e4843104c8e.svg");
  mask-image: url("../../../icons/system/arrow-right-line.3e4843104c8e.svg");
}

.fr-icon-arrow-right-s-fill::before,
.fr-icon-arrow-right-s-fill::after {
  -webkit-mask-image: url("../../../icons/system/arrow-right-s-fill.b725f0d7b9d3.svg");
  mask-image: url("../../../icons/system/arrow-right-s-fill.b725f0d7b9d3.svg");
}

.fr-icon-arrow-right-s-line::before,
.fr-icon-arrow-right-s-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-right-s-line.1c854101c370.svg");
  mask-image: url("../../../icons/system/arrow-right-s-line.1c854101c370.svg");
}

.fr-icon-arrow-right-up-line::before,
.fr-icon-arrow-right-up-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-right-up-line.ab18cd729dcf.svg");
  mask-image: url("../../../icons/system/arrow-right-up-line.ab18cd729dcf.svg");
}

.fr-icon-arrow-up-fill::before,
.fr-icon-arrow-up-fill::after {
  -webkit-mask-image: url("../../../icons/system/arrow-up-fill.e3dc3dc5c310.svg");
  mask-image: url("../../../icons/system/arrow-up-fill.e3dc3dc5c310.svg");
}

.fr-icon-arrow-up-line::before,
.fr-icon-arrow-up-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-up-line.97bcc6898f8e.svg");
  mask-image: url("../../../icons/system/arrow-up-line.97bcc6898f8e.svg");
}

.fr-icon-arrow-up-s-fill::before,
.fr-icon-arrow-up-s-fill::after {
  -webkit-mask-image: url("../../../icons/system/arrow-up-s-fill.db9012e17c56.svg");
  mask-image: url("../../../icons/system/arrow-up-s-fill.db9012e17c56.svg");
}

.fr-icon-arrow-up-s-line::before,
.fr-icon-arrow-up-s-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-up-s-line.a669c939a057.svg");
  mask-image: url("../../../icons/system/arrow-up-s-line.a669c939a057.svg");
}

.fr-icon-check-line::before,
.fr-icon-check-line::after {
  -webkit-mask-image: url("../../../icons/system/check-line.fdd955d1e98b.svg");
  mask-image: url("../../../icons/system/check-line.fdd955d1e98b.svg");
}

.fr-icon-checkbox-circle-fill::before,
.fr-icon-checkbox-circle-fill::after {
  -webkit-mask-image: url("../../../icons/system/checkbox-circle-fill.eea18db64ea8.svg");
  mask-image: url("../../../icons/system/checkbox-circle-fill.eea18db64ea8.svg");
}

.fr-icon-checkbox-circle-line::before,
.fr-icon-checkbox-circle-line::after {
  -webkit-mask-image: url("../../../icons/system/checkbox-circle-line.acf370157e8d.svg");
  mask-image: url("../../../icons/system/checkbox-circle-line.acf370157e8d.svg");
}

.fr-icon-checkbox-fill::before,
.fr-icon-checkbox-fill::after {
  -webkit-mask-image: url("../../../icons/system/checkbox-fill.3be597923e6a.svg");
  mask-image: url("../../../icons/system/checkbox-fill.3be597923e6a.svg");
}

.fr-icon-checkbox-line::before,
.fr-icon-checkbox-line::after {
  -webkit-mask-image: url("../../../icons/system/checkbox-line.4eebf3e8cccb.svg");
  mask-image: url("../../../icons/system/checkbox-line.4eebf3e8cccb.svg");
}

.fr-icon-close-circle-fill::before,
.fr-icon-close-circle-fill::after {
  -webkit-mask-image: url("../../../icons/system/close-circle-fill.069eca840fed.svg");
  mask-image: url("../../../icons/system/close-circle-fill.069eca840fed.svg");
}

.fr-icon-close-circle-line::before,
.fr-icon-close-circle-line::after {
  -webkit-mask-image: url("../../../icons/system/close-circle-line.86abddc1a2ec.svg");
  mask-image: url("../../../icons/system/close-circle-line.86abddc1a2ec.svg");
}

.fr-icon-close-line::before,
.fr-icon-close-line::after {
  -webkit-mask-image: url("../../../icons/system/close-line.2e149b4b2753.svg");
  mask-image: url("../../../icons/system/close-line.2e149b4b2753.svg");
}

.fr-icon-delete-bin-fill::before,
.fr-icon-delete-bin-fill::after {
  -webkit-mask-image: url("../../../icons/system/delete-bin-fill.671e1d7f94b7.svg");
  mask-image: url("../../../icons/system/delete-bin-fill.671e1d7f94b7.svg");
}

.fr-icon-delete-bin-line::before,
.fr-icon-delete-bin-line::after {
  -webkit-mask-image: url("../../../icons/system/delete-bin-line.6e7d6ba3f7f1.svg");
  mask-image: url("../../../icons/system/delete-bin-line.6e7d6ba3f7f1.svg");
}

.fr-icon-download-fill::before,
.fr-icon-download-fill::after {
  -webkit-mask-image: url("../../../icons/system/download-fill.bd5d500ca280.svg");
  mask-image: url("../../../icons/system/download-fill.bd5d500ca280.svg");
}

.fr-icon-download-line::before,
.fr-icon-download-line::after {
  -webkit-mask-image: url("../../../icons/system/download-line.3a5fd93268ff.svg");
  mask-image: url("../../../icons/system/download-line.3a5fd93268ff.svg");
}

.fr-icon-error-warning-fill::before,
.fr-icon-error-warning-fill::after {
  -webkit-mask-image: url("../../../icons/system/error-warning-fill.b1ab0d014050.svg");
  mask-image: url("../../../icons/system/error-warning-fill.b1ab0d014050.svg");
}

.fr-icon-error-warning-line::before,
.fr-icon-error-warning-line::after {
  -webkit-mask-image: url("../../../icons/system/error-warning-line.22efcca209e6.svg");
  mask-image: url("../../../icons/system/error-warning-line.22efcca209e6.svg");
}

.fr-icon-external-link-fill::before,
.fr-icon-external-link-fill::after {
  -webkit-mask-image: url("../../../icons/system/external-link-fill.d218e5da083a.svg");
  mask-image: url("../../../icons/system/external-link-fill.d218e5da083a.svg");
}

.fr-icon-external-link-line::before,
.fr-icon-external-link-line::after {
  -webkit-mask-image: url("../../../icons/system/external-link-line.8c203f4f8465.svg");
  mask-image: url("../../../icons/system/external-link-line.8c203f4f8465.svg");
}

.fr-icon-eye-fill::before,
.fr-icon-eye-fill::after {
  -webkit-mask-image: url("../../../icons/system/eye-fill.c127f863a886.svg");
  mask-image: url("../../../icons/system/eye-fill.c127f863a886.svg");
}

.fr-icon-eye-line::before,
.fr-icon-eye-line::after {
  -webkit-mask-image: url("../../../icons/system/eye-line.b851753d2914.svg");
  mask-image: url("../../../icons/system/eye-line.b851753d2914.svg");
}

.fr-icon-eye-off-fill::before,
.fr-icon-eye-off-fill::after {
  -webkit-mask-image: url("../../../icons/system/eye-off-fill.4566bc925c38.svg");
  mask-image: url("../../../icons/system/eye-off-fill.4566bc925c38.svg");
}

.fr-icon-eye-off-line::before,
.fr-icon-eye-off-line::after {
  -webkit-mask-image: url("../../../icons/system/eye-off-line.7a2cbbaba231.svg");
  mask-image: url("../../../icons/system/eye-off-line.7a2cbbaba231.svg");
}

.fr-icon-filter-fill::before,
.fr-icon-filter-fill::after {
  -webkit-mask-image: url("../../../icons/system/filter-fill.100d3073570b.svg");
  mask-image: url("../../../icons/system/filter-fill.100d3073570b.svg");
}

.fr-icon-filter-line::before,
.fr-icon-filter-line::after {
  -webkit-mask-image: url("../../../icons/system/filter-line.0d30f9be142a.svg");
  mask-image: url("../../../icons/system/filter-line.0d30f9be142a.svg");
}

.fr-icon-arrow-left-s-first-line::before,
.fr-icon-arrow-left-s-first-line::after {
  -webkit-mask-image: url("../../../icons/system/fr--arrow-left-s-first-line.875b9dd80224.svg");
  mask-image: url("../../../icons/system/fr--arrow-left-s-first-line.875b9dd80224.svg");
}

.fr-icon-arrow-left-s-line-double::before,
.fr-icon-arrow-left-s-line-double::after {
  -webkit-mask-image: url("../../../icons/system/fr--arrow-left-s-line-double.e7c1004f4837.svg");
  mask-image: url("../../../icons/system/fr--arrow-left-s-line-double.e7c1004f4837.svg");
}

.fr-icon-arrow-right-s-last-line::before,
.fr-icon-arrow-right-s-last-line::after {
  -webkit-mask-image: url("../../../icons/system/fr--arrow-right-s-last-line.a8a338cc0c28.svg");
  mask-image: url("../../../icons/system/fr--arrow-right-s-last-line.a8a338cc0c28.svg");
}

.fr-icon-arrow-right-s-line-double::before,
.fr-icon-arrow-right-s-line-double::after {
  -webkit-mask-image: url("../../../icons/system/fr--arrow-right-s-line-double.46a2b34eb453.svg");
  mask-image: url("../../../icons/system/fr--arrow-right-s-line-double.46a2b34eb453.svg");
}

.fr-icon-error-fill::before,
.fr-icon-error-fill::after {
  -webkit-mask-image: url("../../../icons/system/fr--error-fill.6110e9af751a.svg");
  mask-image: url("../../../icons/system/fr--error-fill.6110e9af751a.svg");
}

.fr-icon-error-line::before,
.fr-icon-error-line::after {
  -webkit-mask-image: url("../../../icons/system/fr--error-line.98022880cb83.svg");
  mask-image: url("../../../icons/system/fr--error-line.98022880cb83.svg");
}

.fr-icon-info-fill::before,
.fr-icon-info-fill::after {
  -webkit-mask-image: url("../../../icons/system/fr--info-fill.4ee3c1a496d8.svg");
  mask-image: url("../../../icons/system/fr--info-fill.4ee3c1a496d8.svg");
}

.fr-icon-info-line::before,
.fr-icon-info-line::after {
  -webkit-mask-image: url("../../../icons/system/fr--info-line.f1d1afe5164e.svg");
  mask-image: url("../../../icons/system/fr--info-line.f1d1afe5164e.svg");
}

.fr-icon-success-fill::before,
.fr-icon-success-fill::after {
  -webkit-mask-image: url("../../../icons/system/fr--success-fill.527ddccc0e38.svg");
  mask-image: url("../../../icons/system/fr--success-fill.527ddccc0e38.svg");
}

.fr-icon-success-line::before,
.fr-icon-success-line::after {
  -webkit-mask-image: url("../../../icons/system/fr--success-line.1e070098f7b4.svg");
  mask-image: url("../../../icons/system/fr--success-line.1e070098f7b4.svg");
}

.fr-icon-theme-fill::before,
.fr-icon-theme-fill::after {
  -webkit-mask-image: url("../../../icons/system/fr--theme-fill.59b095c1198b.svg");
  mask-image: url("../../../icons/system/fr--theme-fill.59b095c1198b.svg");
}

.fr-icon-warning-fill::before,
.fr-icon-warning-fill::after {
  -webkit-mask-image: url("../../../icons/system/fr--warning-fill.2c93f3c4eace.svg");
  mask-image: url("../../../icons/system/fr--warning-fill.2c93f3c4eace.svg");
}

.fr-icon-warning-line::before,
.fr-icon-warning-line::after {
  -webkit-mask-image: url("../../../icons/system/fr--warning-line.35d3ef5238e1.svg");
  mask-image: url("../../../icons/system/fr--warning-line.35d3ef5238e1.svg");
}

.fr-icon-information-fill::before,
.fr-icon-information-fill::after {
  -webkit-mask-image: url("../../../icons/system/information-fill.3cf245880328.svg");
  mask-image: url("../../../icons/system/information-fill.3cf245880328.svg");
}

.fr-icon-information-line::before,
.fr-icon-information-line::after {
  -webkit-mask-image: url("../../../icons/system/information-line.acd16f6d6c58.svg");
  mask-image: url("../../../icons/system/information-line.acd16f6d6c58.svg");
}

.fr-icon-lock-fill::before,
.fr-icon-lock-fill::after {
  -webkit-mask-image: url("../../../icons/system/lock-fill.f7abcf0fb060.svg");
  mask-image: url("../../../icons/system/lock-fill.f7abcf0fb060.svg");
}

.fr-icon-lock-line::before,
.fr-icon-lock-line::after {
  -webkit-mask-image: url("../../../icons/system/lock-line.11d179c5ecd3.svg");
  mask-image: url("../../../icons/system/lock-line.11d179c5ecd3.svg");
}

.fr-icon-lock-unlock-fill::before,
.fr-icon-lock-unlock-fill::after {
  -webkit-mask-image: url("../../../icons/system/lock-unlock-fill.dad693980651.svg");
  mask-image: url("../../../icons/system/lock-unlock-fill.dad693980651.svg");
}

.fr-icon-lock-unlock-line::before,
.fr-icon-lock-unlock-line::after {
  -webkit-mask-image: url("../../../icons/system/lock-unlock-line.78b519e68970.svg");
  mask-image: url("../../../icons/system/lock-unlock-line.78b519e68970.svg");
}

.fr-icon-logout-box-r-fill::before,
.fr-icon-logout-box-r-fill::after {
  -webkit-mask-image: url("../../../icons/system/logout-box-r-fill.ce74558ff181.svg");
  mask-image: url("../../../icons/system/logout-box-r-fill.ce74558ff181.svg");
}

.fr-icon-logout-box-r-line::before,
.fr-icon-logout-box-r-line::after {
  -webkit-mask-image: url("../../../icons/system/logout-box-r-line.c43253f3f5f7.svg");
  mask-image: url("../../../icons/system/logout-box-r-line.c43253f3f5f7.svg");
}

.fr-icon-menu-2-fill::before,
.fr-icon-menu-2-fill::after {
  -webkit-mask-image: url("../../../icons/system/menu-2-fill.e8817899939b.svg");
  mask-image: url("../../../icons/system/menu-2-fill.e8817899939b.svg");
}

.fr-icon-menu-fill::before,
.fr-icon-menu-fill::after {
  -webkit-mask-image: url("../../../icons/system/menu-fill.eb9376ac67ca.svg");
  mask-image: url("../../../icons/system/menu-fill.eb9376ac67ca.svg");
}

.fr-icon-more-fill::before,
.fr-icon-more-fill::after {
  -webkit-mask-image: url("../../../icons/system/more-fill.919233cd1ab0.svg");
  mask-image: url("../../../icons/system/more-fill.919233cd1ab0.svg");
}

.fr-icon-more-line::before,
.fr-icon-more-line::after {
  -webkit-mask-image: url("../../../icons/system/more-line.b44c60f31862.svg");
  mask-image: url("../../../icons/system/more-line.b44c60f31862.svg");
}

.fr-icon-notification-badge-fill::before,
.fr-icon-notification-badge-fill::after {
  -webkit-mask-image: url("../../../icons/system/notification-badge-fill.8aeabffae351.svg");
  mask-image: url("../../../icons/system/notification-badge-fill.8aeabffae351.svg");
}

.fr-icon-notification-badge-line::before,
.fr-icon-notification-badge-line::after {
  -webkit-mask-image: url("../../../icons/system/notification-badge-line.9724886577da.svg");
  mask-image: url("../../../icons/system/notification-badge-line.9724886577da.svg");
}

.fr-icon-question-fill::before,
.fr-icon-question-fill::after {
  -webkit-mask-image: url("../../../icons/system/question-fill.59ad6b9a12e1.svg");
  mask-image: url("../../../icons/system/question-fill.59ad6b9a12e1.svg");
}

.fr-icon-question-line::before,
.fr-icon-question-line::after {
  -webkit-mask-image: url("../../../icons/system/question-line.d91afc3052a8.svg");
  mask-image: url("../../../icons/system/question-line.d91afc3052a8.svg");
}

.fr-icon-refresh-fill::before,
.fr-icon-refresh-fill::after {
  -webkit-mask-image: url("../../../icons/system/refresh-fill.cbf617de098b.svg");
  mask-image: url("../../../icons/system/refresh-fill.cbf617de098b.svg");
}

.fr-icon-refresh-line::before,
.fr-icon-refresh-line::after {
  -webkit-mask-image: url("../../../icons/system/refresh-line.a597cfaa3fd9.svg");
  mask-image: url("../../../icons/system/refresh-line.a597cfaa3fd9.svg");
}

.fr-icon-search-fill::before,
.fr-icon-search-fill::after {
  -webkit-mask-image: url("../../../icons/system/search-fill.5927d10668be.svg");
  mask-image: url("../../../icons/system/search-fill.5927d10668be.svg");
}

.fr-icon-search-line::before,
.fr-icon-search-line::after {
  -webkit-mask-image: url("../../../icons/system/search-line.b8fd95d87014.svg");
  mask-image: url("../../../icons/system/search-line.b8fd95d87014.svg");
}

.fr-icon-settings-5-fill::before,
.fr-icon-settings-5-fill::after {
  -webkit-mask-image: url("../../../icons/system/settings-5-fill.accf313eeb78.svg");
  mask-image: url("../../../icons/system/settings-5-fill.accf313eeb78.svg");
}

.fr-icon-settings-5-line::before,
.fr-icon-settings-5-line::after {
  -webkit-mask-image: url("../../../icons/system/settings-5-line.98208d255283.svg");
  mask-image: url("../../../icons/system/settings-5-line.98208d255283.svg");
}

.fr-icon-shield-fill::before,
.fr-icon-shield-fill::after {
  -webkit-mask-image: url("../../../icons/system/shield-fill.093358035c4c.svg");
  mask-image: url("../../../icons/system/shield-fill.093358035c4c.svg");
}

.fr-icon-shield-line::before,
.fr-icon-shield-line::after {
  -webkit-mask-image: url("../../../icons/system/shield-line.b87a10b2cbec.svg");
  mask-image: url("../../../icons/system/shield-line.b87a10b2cbec.svg");
}

.fr-icon-star-fill::before,
.fr-icon-star-fill::after {
  -webkit-mask-image: url("../../../icons/system/star-fill.81ed500c4446.svg");
  mask-image: url("../../../icons/system/star-fill.81ed500c4446.svg");
}

.fr-icon-star-line::before,
.fr-icon-star-line::after {
  -webkit-mask-image: url("../../../icons/system/star-line.d02425cd1d16.svg");
  mask-image: url("../../../icons/system/star-line.d02425cd1d16.svg");
}

.fr-icon-star-s-fill::before,
.fr-icon-star-s-fill::after {
  -webkit-mask-image: url("../../../icons/system/star-s-fill.53e4d5a3cc6e.svg");
  mask-image: url("../../../icons/system/star-s-fill.53e4d5a3cc6e.svg");
}

.fr-icon-star-s-line::before,
.fr-icon-star-s-line::after {
  -webkit-mask-image: url("../../../icons/system/star-s-line.75820458d330.svg");
  mask-image: url("../../../icons/system/star-s-line.75820458d330.svg");
}

.fr-icon-subtract-line::before,
.fr-icon-subtract-line::after {
  -webkit-mask-image: url("../../../icons/system/subtract-line.269096772a33.svg");
  mask-image: url("../../../icons/system/subtract-line.269096772a33.svg");
}

.fr-icon-thumb-down-fill::before,
.fr-icon-thumb-down-fill::after {
  -webkit-mask-image: url("../../../icons/system/thumb-down-fill.fb28b7856077.svg");
  mask-image: url("../../../icons/system/thumb-down-fill.fb28b7856077.svg");
}

.fr-icon-thumb-down-line::before,
.fr-icon-thumb-down-line::after {
  -webkit-mask-image: url("../../../icons/system/thumb-down-line.4dcb38842612.svg");
  mask-image: url("../../../icons/system/thumb-down-line.4dcb38842612.svg");
}

.fr-icon-thumb-up-fill::before,
.fr-icon-thumb-up-fill::after {
  -webkit-mask-image: url("../../../icons/system/thumb-up-fill.15d596894fd8.svg");
  mask-image: url("../../../icons/system/thumb-up-fill.15d596894fd8.svg");
}

.fr-icon-thumb-up-line::before,
.fr-icon-thumb-up-line::after {
  -webkit-mask-image: url("../../../icons/system/thumb-up-line.fdba6c686a76.svg");
  mask-image: url("../../../icons/system/thumb-up-line.fdba6c686a76.svg");
}

.fr-icon-time-fill::before,
.fr-icon-time-fill::after {
  -webkit-mask-image: url("../../../icons/system/time-fill.1a07f34dd80e.svg");
  mask-image: url("../../../icons/system/time-fill.1a07f34dd80e.svg");
}

.fr-icon-time-line::before,
.fr-icon-time-line::after {
  -webkit-mask-image: url("../../../icons/system/time-line.21795daf8f91.svg");
  mask-image: url("../../../icons/system/time-line.21795daf8f91.svg");
}

.fr-icon-timer-fill::before,
.fr-icon-timer-fill::after {
  -webkit-mask-image: url("../../../icons/system/timer-fill.38da5372d960.svg");
  mask-image: url("../../../icons/system/timer-fill.38da5372d960.svg");
}

.fr-icon-timer-line::before,
.fr-icon-timer-line::after {
  -webkit-mask-image: url("../../../icons/system/timer-line.d042d558f8e0.svg");
  mask-image: url("../../../icons/system/timer-line.d042d558f8e0.svg");
}

.fr-icon-upload-2-fill::before,
.fr-icon-upload-2-fill::after {
  -webkit-mask-image: url("../../../icons/system/upload-2-fill.d9464c7ddd7d.svg");
  mask-image: url("../../../icons/system/upload-2-fill.d9464c7ddd7d.svg");
}

.fr-icon-upload-2-line::before,
.fr-icon-upload-2-line::after {
  -webkit-mask-image: url("../../../icons/system/upload-2-line.7d30216776ad.svg");
  mask-image: url("../../../icons/system/upload-2-line.7d30216776ad.svg");
}

.fr-icon-upload-fill::before,
.fr-icon-upload-fill::after {
  -webkit-mask-image: url("../../../icons/system/upload-fill.62c758528c20.svg");
  mask-image: url("../../../icons/system/upload-fill.62c758528c20.svg");
}

.fr-icon-upload-line::before,
.fr-icon-upload-line::after {
  -webkit-mask-image: url("../../../icons/system/upload-line.a640d9ab3e86.svg");
  mask-image: url("../../../icons/system/upload-line.a640d9ab3e86.svg");
}

.fr-icon-zoom-in-fill::before,
.fr-icon-zoom-in-fill::after {
  -webkit-mask-image: url("../../../icons/system/zoom-in-fill.6c52195c084e.svg");
  mask-image: url("../../../icons/system/zoom-in-fill.6c52195c084e.svg");
}

.fr-icon-zoom-in-line::before,
.fr-icon-zoom-in-line::after {
  -webkit-mask-image: url("../../../icons/system/zoom-in-line.49ee021162b9.svg");
  mask-image: url("../../../icons/system/zoom-in-line.49ee021162b9.svg");
}

.fr-icon-zoom-out-fill::before,
.fr-icon-zoom-out-fill::after {
  -webkit-mask-image: url("../../../icons/system/zoom-out-fill.328fdcecd52f.svg");
  mask-image: url("../../../icons/system/zoom-out-fill.328fdcecd52f.svg");
}

.fr-icon-zoom-out-line::before,
.fr-icon-zoom-out-line::after {
  -webkit-mask-image: url("../../../icons/system/zoom-out-line.11658e48d7bb.svg");
  mask-image: url("../../../icons/system/zoom-out-line.11658e48d7bb.svg");
}

.fr-fi-add-circle-fill::before,
.fr-fi-add-circle-fill::after {
  -webkit-mask-image: url("../../../icons/system/add-circle-fill.6486e787e3ec.svg");
  mask-image: url("../../../icons/system/add-circle-fill.6486e787e3ec.svg");
}

.fr-fi-add-circle-line::before,
.fr-fi-add-circle-line::after {
  -webkit-mask-image: url("../../../icons/system/add-circle-line.285bc9907910.svg");
  mask-image: url("../../../icons/system/add-circle-line.285bc9907910.svg");
}

.fr-fi-add-line::before,
.fr-fi-add-line::after {
  -webkit-mask-image: url("../../../icons/system/add-line.f59d35b996e1.svg");
  mask-image: url("../../../icons/system/add-line.f59d35b996e1.svg");
}

.fr-fi-arrow-down-line::before,
.fr-fi-arrow-down-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-down-line.cdcbe20cde3e.svg");
  mask-image: url("../../../icons/system/arrow-down-line.cdcbe20cde3e.svg");
}

.fr-fi-arrow-down-s-line::before,
.fr-fi-arrow-down-s-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-down-s-line.4ac4f4c7f991.svg");
  mask-image: url("../../../icons/system/arrow-down-s-line.4ac4f4c7f991.svg");
}

.fr-fi-arrow-go-back-fill::before,
.fr-fi-arrow-go-back-fill::after {
  -webkit-mask-image: url("../../../icons/system/arrow-go-back-fill.58dcaa705a4f.svg");
  mask-image: url("../../../icons/system/arrow-go-back-fill.58dcaa705a4f.svg");
}

.fr-fi-arrow-go-back-line::before,
.fr-fi-arrow-go-back-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-go-back-line.52e23c19d525.svg");
  mask-image: url("../../../icons/system/arrow-go-back-line.52e23c19d525.svg");
}

.fr-fi-arrow-left-line::before,
.fr-fi-arrow-left-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-left-line.fc03672e912e.svg");
  mask-image: url("../../../icons/system/arrow-left-line.fc03672e912e.svg");
}

.fr-fi-arrow-left-s-line::before,
.fr-fi-arrow-left-s-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-left-s-line.663154e3caa6.svg");
  mask-image: url("../../../icons/system/arrow-left-s-line.663154e3caa6.svg");
}

.fr-fi-arrow-right-line::before,
.fr-fi-arrow-right-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-right-line.3e4843104c8e.svg");
  mask-image: url("../../../icons/system/arrow-right-line.3e4843104c8e.svg");
}

.fr-fi-arrow-right-s-line::before,
.fr-fi-arrow-right-s-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-right-s-line.1c854101c370.svg");
  mask-image: url("../../../icons/system/arrow-right-s-line.1c854101c370.svg");
}

.fr-fi-arrow-right-up-line::before,
.fr-fi-arrow-right-up-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-right-up-line.ab18cd729dcf.svg");
  mask-image: url("../../../icons/system/arrow-right-up-line.ab18cd729dcf.svg");
}

.fr-fi-arrow-up-fill::before,
.fr-fi-arrow-up-fill::after {
  -webkit-mask-image: url("../../../icons/system/arrow-up-fill.e3dc3dc5c310.svg");
  mask-image: url("../../../icons/system/arrow-up-fill.e3dc3dc5c310.svg");
}

.fr-fi-arrow-up-line::before,
.fr-fi-arrow-up-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-up-line.97bcc6898f8e.svg");
  mask-image: url("../../../icons/system/arrow-up-line.97bcc6898f8e.svg");
}

.fr-fi-arrow-up-s-line::before,
.fr-fi-arrow-up-s-line::after {
  -webkit-mask-image: url("../../../icons/system/arrow-up-s-line.a669c939a057.svg");
  mask-image: url("../../../icons/system/arrow-up-s-line.a669c939a057.svg");
}

.fr-fi-check-line::before,
.fr-fi-check-line::after {
  -webkit-mask-image: url("../../../icons/system/check-line.fdd955d1e98b.svg");
  mask-image: url("../../../icons/system/check-line.fdd955d1e98b.svg");
}

.fr-fi-checkbox-circle-line::before,
.fr-fi-checkbox-circle-line::after {
  -webkit-mask-image: url("../../../icons/system/checkbox-circle-line.acf370157e8d.svg");
  mask-image: url("../../../icons/system/checkbox-circle-line.acf370157e8d.svg");
}

.fr-fi-close-line::before,
.fr-fi-close-line::after {
  -webkit-mask-image: url("../../../icons/system/close-line.2e149b4b2753.svg");
  mask-image: url("../../../icons/system/close-line.2e149b4b2753.svg");
}

.fr-fi-download-line::before,
.fr-fi-download-line::after {
  -webkit-mask-image: url("../../../icons/system/download-line.3a5fd93268ff.svg");
  mask-image: url("../../../icons/system/download-line.3a5fd93268ff.svg");
}

.fr-fi-error-warning-fill::before,
.fr-fi-error-warning-fill::after {
  -webkit-mask-image: url("../../../icons/system/error-warning-fill.b1ab0d014050.svg");
  mask-image: url("../../../icons/system/error-warning-fill.b1ab0d014050.svg");
}

.fr-fi-error-warning-line::before,
.fr-fi-error-warning-line::after {
  -webkit-mask-image: url("../../../icons/system/error-warning-line.22efcca209e6.svg");
  mask-image: url("../../../icons/system/error-warning-line.22efcca209e6.svg");
}

.fr-fi-external-link-line::before,
.fr-fi-external-link-line::after {
  -webkit-mask-image: url("../../../icons/system/external-link-line.8c203f4f8465.svg");
  mask-image: url("../../../icons/system/external-link-line.8c203f4f8465.svg");
}

.fr-fi-eye-fill::before,
.fr-fi-eye-fill::after {
  -webkit-mask-image: url("../../../icons/system/eye-fill.c127f863a886.svg");
  mask-image: url("../../../icons/system/eye-fill.c127f863a886.svg");
}

.fr-fi-eye-line::before,
.fr-fi-eye-line::after {
  -webkit-mask-image: url("../../../icons/system/eye-line.b851753d2914.svg");
  mask-image: url("../../../icons/system/eye-line.b851753d2914.svg");
}

.fr-fi-eye-off-fill::before,
.fr-fi-eye-off-fill::after {
  -webkit-mask-image: url("../../../icons/system/eye-off-fill.4566bc925c38.svg");
  mask-image: url("../../../icons/system/eye-off-fill.4566bc925c38.svg");
}

.fr-fi-eye-off-line::before,
.fr-fi-eye-off-line::after {
  -webkit-mask-image: url("../../../icons/system/eye-off-line.7a2cbbaba231.svg");
  mask-image: url("../../../icons/system/eye-off-line.7a2cbbaba231.svg");
}

.fr-fi-filter-fill::before,
.fr-fi-filter-fill::after {
  -webkit-mask-image: url("../../../icons/system/filter-fill.100d3073570b.svg");
  mask-image: url("../../../icons/system/filter-fill.100d3073570b.svg");
}

.fr-fi-filter-line::before,
.fr-fi-filter-line::after {
  -webkit-mask-image: url("../../../icons/system/filter-line.0d30f9be142a.svg");
  mask-image: url("../../../icons/system/filter-line.0d30f9be142a.svg");
}

.fr-fi-arrow-left-s-first-line::before,
.fr-fi-arrow-left-s-first-line::after {
  -webkit-mask-image: url("../../../icons/system/fr--arrow-left-s-first-line.875b9dd80224.svg");
  mask-image: url("../../../icons/system/fr--arrow-left-s-first-line.875b9dd80224.svg");
}

.fr-fi-arrow-left-s-line-double::before,
.fr-fi-arrow-left-s-line-double::after {
  -webkit-mask-image: url("../../../icons/system/fr--arrow-left-s-line-double.e7c1004f4837.svg");
  mask-image: url("../../../icons/system/fr--arrow-left-s-line-double.e7c1004f4837.svg");
}

.fr-fi-arrow-right-s-last-line::before,
.fr-fi-arrow-right-s-last-line::after {
  -webkit-mask-image: url("../../../icons/system/fr--arrow-right-s-last-line.a8a338cc0c28.svg");
  mask-image: url("../../../icons/system/fr--arrow-right-s-last-line.a8a338cc0c28.svg");
}

.fr-fi-arrow-right-s-line-double::before,
.fr-fi-arrow-right-s-line-double::after {
  -webkit-mask-image: url("../../../icons/system/fr--arrow-right-s-line-double.46a2b34eb453.svg");
  mask-image: url("../../../icons/system/fr--arrow-right-s-line-double.46a2b34eb453.svg");
}

.fr-fi-error-fill::before,
.fr-fi-error-fill::after {
  -webkit-mask-image: url("../../../icons/system/fr--error-fill.6110e9af751a.svg");
  mask-image: url("../../../icons/system/fr--error-fill.6110e9af751a.svg");
}

.fr-fi-error-line::before,
.fr-fi-error-line::after {
  -webkit-mask-image: url("../../../icons/system/fr--error-line.98022880cb83.svg");
  mask-image: url("../../../icons/system/fr--error-line.98022880cb83.svg");
}

.fr-fi-info-fill::before,
.fr-fi-info-fill::after {
  -webkit-mask-image: url("../../../icons/system/fr--info-fill.4ee3c1a496d8.svg");
  mask-image: url("../../../icons/system/fr--info-fill.4ee3c1a496d8.svg");
}

.fr-fi-info-line::before,
.fr-fi-info-line::after {
  -webkit-mask-image: url("../../../icons/system/fr--info-line.f1d1afe5164e.svg");
  mask-image: url("../../../icons/system/fr--info-line.f1d1afe5164e.svg");
}

.fr-fi-success-fill::before,
.fr-fi-success-fill::after {
  -webkit-mask-image: url("../../../icons/system/fr--success-fill.527ddccc0e38.svg");
  mask-image: url("../../../icons/system/fr--success-fill.527ddccc0e38.svg");
}

.fr-fi-success-line::before,
.fr-fi-success-line::after {
  -webkit-mask-image: url("../../../icons/system/fr--success-line.1e070098f7b4.svg");
  mask-image: url("../../../icons/system/fr--success-line.1e070098f7b4.svg");
}

.fr-fi-theme-fill::before,
.fr-fi-theme-fill::after {
  -webkit-mask-image: url("../../../icons/system/fr--theme-fill.59b095c1198b.svg");
  mask-image: url("../../../icons/system/fr--theme-fill.59b095c1198b.svg");
}

.fr-fi-warning-fill::before,
.fr-fi-warning-fill::after {
  -webkit-mask-image: url("../../../icons/system/fr--warning-fill.2c93f3c4eace.svg");
  mask-image: url("../../../icons/system/fr--warning-fill.2c93f3c4eace.svg");
}

.fr-fi-warning-line::before,
.fr-fi-warning-line::after {
  -webkit-mask-image: url("../../../icons/system/fr--warning-line.35d3ef5238e1.svg");
  mask-image: url("../../../icons/system/fr--warning-line.35d3ef5238e1.svg");
}

.fr-fi-information-fill::before,
.fr-fi-information-fill::after {
  -webkit-mask-image: url("../../../icons/system/information-fill.3cf245880328.svg");
  mask-image: url("../../../icons/system/information-fill.3cf245880328.svg");
}

.fr-fi-information-line::before,
.fr-fi-information-line::after {
  -webkit-mask-image: url("../../../icons/system/information-line.acd16f6d6c58.svg");
  mask-image: url("../../../icons/system/information-line.acd16f6d6c58.svg");
}

.fr-fi-lock-fill::before,
.fr-fi-lock-fill::after {
  -webkit-mask-image: url("../../../icons/system/lock-fill.f7abcf0fb060.svg");
  mask-image: url("../../../icons/system/lock-fill.f7abcf0fb060.svg");
}

.fr-fi-lock-line::before,
.fr-fi-lock-line::after {
  -webkit-mask-image: url("../../../icons/system/lock-line.11d179c5ecd3.svg");
  mask-image: url("../../../icons/system/lock-line.11d179c5ecd3.svg");
}

.fr-fi-logout-box-r-fill::before,
.fr-fi-logout-box-r-fill::after {
  -webkit-mask-image: url("../../../icons/system/logout-box-r-fill.ce74558ff181.svg");
  mask-image: url("../../../icons/system/logout-box-r-fill.ce74558ff181.svg");
}

.fr-fi-logout-box-r-line::before,
.fr-fi-logout-box-r-line::after {
  -webkit-mask-image: url("../../../icons/system/logout-box-r-line.c43253f3f5f7.svg");
  mask-image: url("../../../icons/system/logout-box-r-line.c43253f3f5f7.svg");
}

.fr-fi-menu-2-fill::before,
.fr-fi-menu-2-fill::after {
  -webkit-mask-image: url("../../../icons/system/menu-2-fill.e8817899939b.svg");
  mask-image: url("../../../icons/system/menu-2-fill.e8817899939b.svg");
}

.fr-fi-menu-fill::before,
.fr-fi-menu-fill::after {
  -webkit-mask-image: url("../../../icons/system/menu-fill.eb9376ac67ca.svg");
  mask-image: url("../../../icons/system/menu-fill.eb9376ac67ca.svg");
}

.fr-fi-question-fill::before,
.fr-fi-question-fill::after {
  -webkit-mask-image: url("../../../icons/system/question-fill.59ad6b9a12e1.svg");
  mask-image: url("../../../icons/system/question-fill.59ad6b9a12e1.svg");
}

.fr-fi-question-line::before,
.fr-fi-question-line::after {
  -webkit-mask-image: url("../../../icons/system/question-line.d91afc3052a8.svg");
  mask-image: url("../../../icons/system/question-line.d91afc3052a8.svg");
}

.fr-fi-refresh-fill::before,
.fr-fi-refresh-fill::after {
  -webkit-mask-image: url("../../../icons/system/refresh-fill.cbf617de098b.svg");
  mask-image: url("../../../icons/system/refresh-fill.cbf617de098b.svg");
}

.fr-fi-refresh-line::before,
.fr-fi-refresh-line::after {
  -webkit-mask-image: url("../../../icons/system/refresh-line.a597cfaa3fd9.svg");
  mask-image: url("../../../icons/system/refresh-line.a597cfaa3fd9.svg");
}

.fr-fi-search-fill::before,
.fr-fi-search-fill::after {
  -webkit-mask-image: url("../../../icons/system/search-fill.5927d10668be.svg");
  mask-image: url("../../../icons/system/search-fill.5927d10668be.svg");
}

.fr-fi-search-line::before,
.fr-fi-search-line::after {
  -webkit-mask-image: url("../../../icons/system/search-line.b8fd95d87014.svg");
  mask-image: url("../../../icons/system/search-line.b8fd95d87014.svg");
}

.fr-fi-subtract-line::before,
.fr-fi-subtract-line::after {
  -webkit-mask-image: url("../../../icons/system/subtract-line.269096772a33.svg");
  mask-image: url("../../../icons/system/subtract-line.269096772a33.svg");
}

.fr-fi-timer-fill::before,
.fr-fi-timer-fill::after {
  -webkit-mask-image: url("../../../icons/system/timer-fill.38da5372d960.svg");
  mask-image: url("../../../icons/system/timer-fill.38da5372d960.svg");
}

.fr-fi-timer-line::before,
.fr-fi-timer-line::after {
  -webkit-mask-image: url("../../../icons/system/timer-line.d042d558f8e0.svg");
  mask-image: url("../../../icons/system/timer-line.d042d558f8e0.svg");
}

.fr-fi-upload-2-fill::before,
.fr-fi-upload-2-fill::after {
  -webkit-mask-image: url("../../../icons/system/upload-2-fill.d9464c7ddd7d.svg");
  mask-image: url("../../../icons/system/upload-2-fill.d9464c7ddd7d.svg");
}

.fr-fi-upload-2-line::before,
.fr-fi-upload-2-line::after {
  -webkit-mask-image: url("../../../icons/system/upload-2-line.7d30216776ad.svg");
  mask-image: url("../../../icons/system/upload-2-line.7d30216776ad.svg");
}

.fr-fi-zoom-in-fill::before,
.fr-fi-zoom-in-fill::after {
  -webkit-mask-image: url("../../../icons/system/zoom-in-fill.6c52195c084e.svg");
  mask-image: url("../../../icons/system/zoom-in-fill.6c52195c084e.svg");
}

.fr-fi-zoom-in-line::before,
.fr-fi-zoom-in-line::after {
  -webkit-mask-image: url("../../../icons/system/zoom-in-line.49ee021162b9.svg");
  mask-image: url("../../../icons/system/zoom-in-line.49ee021162b9.svg");
}

.fr-fi-zoom-out-fill::before,
.fr-fi-zoom-out-fill::after {
  -webkit-mask-image: url("../../../icons/system/zoom-out-fill.328fdcecd52f.svg");
  mask-image: url("../../../icons/system/zoom-out-fill.328fdcecd52f.svg");
}

.fr-fi-zoom-out-line::before,
.fr-fi-zoom-out-line::after {
  -webkit-mask-image: url("../../../icons/system/zoom-out-line.11658e48d7bb.svg");
  mask-image: url("../../../icons/system/zoom-out-line.11658e48d7bb.svg");
}

.fr-fi-delete-line::before,
.fr-fi-delete-line::after {
  -webkit-mask-image: url("../../../icons/system/delete-bin-line.6e7d6ba3f7f1.svg");
  mask-image: url("../../../icons/system/delete-bin-line.6e7d6ba3f7f1.svg");
}

.fr-fi-delete-fill::before,
.fr-fi-delete-fill::after {
  -webkit-mask-image: url("../../../icons/system/delete-bin-fill.671e1d7f94b7.svg");
  mask-image: url("../../../icons/system/delete-bin-fill.671e1d7f94b7.svg");
}

.fr-icon-delete-line::before,
.fr-icon-delete-line::after {
  -webkit-mask-image: url("../../../icons/system/delete-bin-line.6e7d6ba3f7f1.svg");
  mask-image: url("../../../icons/system/delete-bin-line.6e7d6ba3f7f1.svg");
}

.fr-icon-delete-fill::before,
.fr-icon-delete-fill::after {
  -webkit-mask-image: url("../../../icons/system/delete-bin-fill.671e1d7f94b7.svg");
  mask-image: url("../../../icons/system/delete-bin-fill.671e1d7f94b7.svg");
}

@media (min-width: 36em) {
  /*! media sm */
}

@media (min-width: 48em) {
  /*! media md */
}

@media (min-width: 62em) {
  /*! media lg */
}

@media (min-width: 78em) {
  /*! media xl */
}
