{% extends "base.html" %}
{% block title %}contact page{% endblock %}
{% block content %}


<div class="container" style="margin-left:10%">
<br>
<p><strong>Pilote du projet : Isabelle HERGAULT</strong></p>

<p>@ : drfpic-gepp-cfc@ac-normandie.fr</p

<p>Tél : 06 23 28 33 28</p>

<strong><p>Coordinatrice académique : Véronique CHAMPIN</p></strong>

<p>@ : drfpic-gepp-cfc@ac-normandie.fr</p

<p>Tél : 06 88 17 60 48</p>

<strong><p>Administrateur : Sébastien PICOT</p></strong>

<p>@ : sebastien.picot@ac-normandie.fr</p>

<p>Tél : 02 31 30 08 90</p>

<strong><p>Concepteur : Rachid RAHAL</p></strong>

<p>@ : rachid.rahal@normandie.gouv.fr</p>
</div>

{% endblock %}