{% extends "base.html" %}
{% block title %}Question A5 C2{% endblock %}

{% block content %}


<div class="container" style="margin-left:10%">
      <div class="col-md-8 col-md-offset-8">
            <dt><h6 class= 'text-center'>A5 : Représentation institutionnelle sur les territoires</h6></dt>
        <br>
        <p class=""><strong>A5-C2 : </strong>Promouvoir l’organisation (ses missions, son offre, ses moyens) afin de contribuer à sa connaissance et à sa reconnaissance en mettant en avant la diversité des voies de formation professionnelle proposées et son maillage territorial</p>
             <form action="{% url 'step2_A5' %}" method="post" class="form-v5-content">
              {%csrf_token %}
               <div style="display: none;">{{ form.created_by }}</div>
              <p style="border: 2px solid blueviolet;">{{ form.A5_C2 }}</p>
              <div class="d-flex justify-content-center"><button type="submit" class="fr-btn">Suivant</button></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-md-offset-8">
              <ul class="list-group">
                <li class="list-group-item list-group-item-info"><p><strong>Degré 1 : </strong>Je distingue les 3 voies de formation professionnelle. Je m’informe en interne sur les missions, l’offre et les moyens des structures de l’éducation nationale sur mon territoire et sur la région académique.<br>
                  Je connais la mission de service public de l’éducation nationale en matière de formation professionnelle.
                  </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 2 : </strong>J’identifie sur mon territoire l’offre de formations en m’aidant de la carte des formations professionnelle de l’éducation nationale de mon académie.<br>
                    Je sais identifier les atouts de mon organisation.
                    </p></li>
                    <li class="list-group-item list-group-item-info"><p><strong>Degré 3 : </strong>
                   J’explique la mission de service public de l’éducation nationale en matière de formation professionnelle, quel que soit mon interlocuteur.<br>
J’argumente sur les spécificités et les atouts de mon organisation, à l’interne comme à l’externe dans des réunions, des évènements.

                      </p></li>
                    <li class="list-group-item list-group-item-info"><p><strong>Degré 4 : </strong>
                    Je suis un acteur ressource pour le réseau en capacité d’analyser et d’harmoniser les pratiques de promotion de l’organisation de la formation professionnelle à l’éducation nationale.<br> Je facilite la production d’outils de promotion et contribue à leur modélisation dans un collectif de travail.<br>
                    À la demande de l’autorité académique, je promeus l’organisation sur les territoires.
                      </p></li>
              </ul>
          </div>
            </div>
        </div>

{% endblock %}