{% extends "base.html" %}
{% block title %}Question A4 C3{% endblock %}

{% block content %}
 <div class="row justify-content-md-center">
      <div class=".col-md-">
                <dl class="dl-horizontal">
          <dt><h6 class= 'text-center'>A4 : Conseil aux décideurs</h6></dt>
          <div class="container" style="margin-left:10%">
        <br>
        <dd><p><strong>A4-C3 :</strong> Présenter la situation et les options envisagées afin d’aider à la décision en mobilisant<br>
        les moyens de communication appropriés</p></dd>
             <form action="{% url 'step3_A4' %}" method="post" class="form-v5-content">
              {%csrf_token %}
              <div style="display: none;">{{ form.created_by }}</div><br>
              <p style="border: 2px solid blueviolet;">{{ form.A4_C3 }}</p>
              <div class="d-flex justify-content-center">
                <button type="submit" class="fr-btn">Enregistrement</button>
              </div>
            </form>
      </div>
       </div>
      </div>
  <br>
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-md-offset-8">
             <ul class="list-group">
                <li class="list-group-item list-group-item-info"><p><strong>Degré 1 : </strong>Je connais les outils de communication adaptés au conseil : synthèse, note d’opportunité, rapport, etc.<br>
              Je connais les éléments de langage à utiliser auprès des différents décideurs.
                  </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 2 : </strong>Je choisis les outils de communication adaptés aux décideurs.<br>
                Je construis un argumentaire pour réaliser la présentation de la situation avec les options à explorer.
                    </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 3 : </strong>
                Je propose à l’écrit ou à l’oral un contenu synthétique pour être lu ou entendu par les décideurs.
                Si besoin, j’éclaire le décideur par un schéma, un tableau, une infographie. Je rédige une synthèse décisionnelle pour donner un éclairage sur les points clés.
                  </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 4 : </strong>A la demande des décideurs, je rédige et je présente un rapport circonstancié sur une situation complexe.</p></li>
              </ul>
          </div>


            </div>
        </div>
</div>

        {% endblock %}