{% extends "base.html" %}
{% block title %}Question A5 C3{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-left:17px">
  <br>
    <div class="row justify-content-md-center">
      <div class="col-md col-md-offset-8">
      <dt><h6 class= 'text-center'>A5 : Représentation institutionnelle sur les territoires</h6></dt>
          <dl class="dl-horizontal"><dd><p><strong>A5-C3 :</strong> Nouer et entretenir des relations avec les acteurs socio-économiques du territoire afin de faciliter
        les dynamiques<br> de coopération en faisant valoir une mission de service public sur un marché concurrentiel</p></dd></dl>

        </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-8 col-md-offset-8">
             <form action="{% url 'step3_A5' %}" method="post" class="form-group">
              {%csrf_token %}
              <div style="display: none;">{{ form.created_by }}</div>
              <p style="border: 2px solid blueviolet; width : 770px;">{{ form.A5_C3 }}</p></br>
              <div class="d-flex justify-content-center"><button type="submit" class="fr-btn">Enregistrer</button></div></br>
            </form>
      </div>
    </div>
    </div>
<div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-md-offset-8">
              <ul class="list-group"><li class="list-group-item list-group-item-info"><p><strong>Degré 1 : </strong>Je connais : <br>
-	les acteurs socio-économiques de mon territoire.<br>
-	l’historique des partenariats.<br>
-	les techniques de réseautage pour fidéliser mon répertoire de contacts.</p></li>
<li class="list-group-item list-group-item-info"><p><strong>Degré 2 : </strong>Je construis un réseau de partenaires socio-économiques actualisé et mobilisable en tant qu’agent du service public,<br>
                Je participe à des rencontres, des échanges et des réunions de travail.<br>
                Je tiens un répertoire des contacts actualisé.
                    </p></li>
                    <li class="list-group-item list-group-item-info"><p>
              <p><strong>Degré 3 : </strong>
                Je suis un interlocuteur reconnu et sollicité par les acteurs socio-économiques sur un territoire.<br>
                J’enrichis mon réseau partenarial (clubs d’entreprises, etc.)<br>
                Je mets en relation mes pairs avec mes contacts. Je mets à disposition les outils nécessaires et appropriés afin de gérer le partenariat dans la durée, en lien avec la démarche qualité.<br>
                Je mobilise des partenaires sur des projets où l’éducation nationale est partie prenante.<br>
                Je participe à la rédaction de conventions de partenariat.
                      </p></li>
                    <li class="list-group-item list-group-item-info"><p><strong>Degré 4 : </strong>Je suis à l’initiative de rencontres partenariales sur un projet donné.<br>
                Je mets en place des indicateurs pour évaluer l’efficience d’un partenariat.
                      </p></li>
              </ul>
          </div>
            </div>
            </div>
        </div>
        {% endblock %}