{% extends "base.html" %}
{% block title %}Question A1 C2{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-left:17px">
    <br>
<div class="row justify-content-md-center">
      <dl class="dl-horizontal">
                <dt><h6 class= 'text-center'>A1 : Veille socio-économique, réglementaire, concurrentielle et commerciale</h6></dt>
                <dd> <p class= 'text-center'><strong>A1 C2 :</strong> Identifier et sélectionner les sources d’informations afin d’opérationnaliser sa stratégie de<br>
                veille en étant attentif à leur pertinence et leur fiabilité</p></dd>
              <dd></dl>

</div>
<br>
    <div class="row justify-content-md-center">
      <div class=".col-md-">
        <form action="{% url 'step2_A1' %}"  method="post" class="form-group">
        <div class="d-flex justify-content-center">
        {%csrf_token %}
        <div style="display: none;">{{ form.created_by }}</div>
        <p style="border: 2px solid blueviolet; width : 810px;">{{ form.A1_C2 }}</p></div>
        <div class="d-flex justify-content-center"><button type="submit" class="fr-btn">Suivant</button></div>
        </form>
        </div>
      </div>
  </div>
        <div class="container">
            <div class="row justify-content-md-center">
            <div class="col-md-8 col-md-offset-8">
              <ul class="list-group">
                <li class="list-group-item list-group-item-info"><p><strong>Degré 1 : </strong>J’évalue la fiabilité d’une source (auteur, contenus, actualité et pertinence, crédibilité et réputation).<br>
J’identifie les personnes en charge de la veille et prospective du réseau.<br>
Je connais les sources institutionnelles ou publiques, les sources professionnelles fournissant de l'information récente, fondée sur des données sérieuses et approuvées par des organismes et des expertises reconnus. Je peux nommer ces sources (observatoires des métiers, de branche, études prospectives emploi-compétences…).

                  </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 2 : </strong>Je sélectionne les sources les plus pertinentes au regard de mes missions, de la stratégie de ma structure et/ou du réseau.<br>
                    J’identifie les actions de terrain à l’interne (rencontre avec DDFPT, formateurs, Chefs d’établissement, inspecteurs, service commercial...) et à l’externe (salon emploi-formation, rencontres entreprises, radios et journaux locaux…) qui me permettent de réaliser une veille locale et territoriale.
                    </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 3 : </strong>
                    J’évalue la complétude de ma veille. Pour compléter ma veille j’identifie de nouveaux acteurs.<br>
                    Je suis force de proposition pour acquérir une source d’informations nouvelles (abonnement, adhésion à un club employeurs…).<br>
                    Je contribue à la collecte pour alimenter le collectif.
                  </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 4 : </strong>
                    Je conseille les décideurs sur la recherche de prestataires et d’outils performants de veille.<br>
                    Je partage et je recommande à mes collègues des sources d’informations que j’utilise ou que j’ai repérées.<br>
                    Je partage ou croise les éléments clés de la veille avec les acteurs proches en interne.<br>
                    Je suis un acteur ressource pour le réseau en capacité de conseiller sur les sources les plus pertinentes et d’accompagner sur l’organisation et le classement des documents de veille.
                    Je suis en capacité de former mes pairs sur les meilleures pratiques en matière de veille.
                  </p></li>
              </ul>
        </div>
    </div>
</div>

{% endblock %}</body></html>