{% extends "base.html" %}
{% block title %}Question A4 C2{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-left:17px">
    <div class="row justify-content-md-center">
    <div class="col-md-8 col-md-offset-8">
        <dt><h6 class= 'text-center'>A4 : Conseil aux décideurs</h6></dt>
        <br>
 <p><strong>A4-C2 : </strong>Analyser la situation ou la demande identifiée afin d’envisager les réponses, scénarios, orientations ou solutions possibles en veillant à l’objectivité du raisonnement</p>
             </div>
             <div class="row justify-content-md-center">
                 <div class="col-md-8 col-md-offset-8">
                 <form action="{% url 'step2_A4' %}" method="post" class="form-group">
              {%csrf_token %}
              <div style="display: none;">{{ form.created_by }}</div>
              <p style="border: 2px solid blueviolet; width : 730px;">{{ form.A4_C2 }}</p></div><br>
            <div class="d-flex justify-content-center"><button type="submit" class="fr-btn">Suivant</button></div><br>
              </form>
        </div>
      </div>
  </div>
  <br>
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-md-offset-8">
             <ul class="list-group">
                <li class="list-group-item list-group-item-info"><p><strong>Degré 1 : </strong>Je connais des méthodes et des outils d’analyse (grille MOFF, diagramme causes effets, brainstorming, etc.).
                  </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 2 : </strong>J’utilise une méthode et les outils d’analyse nécessaires à la bonne compréhension de la situation ou de la demande.<br>
Je consulte l’ensemble des parties prenantes pour conforter ma compréhension de la situation ou de la demande.<br>
J’analyse la situation avec la maturité émotionnelle nécessaire (acceptation de l’avis d’autrui, posture d’écoute active, ...) et en restant factuel pour garantir l’objectivité de mon raisonnement.

                    </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 3 : </strong>A partir de mon analyse de la situation ou de la demande, j’envisage les pistes de réponses possibles.<br>
Parmi les hypothèses, je hiérarchise les solutions en mesurant les effets (risques et bénéfices).<br>
Je précise l’origine de mes données et de mes sources d’informations pour confirmer l’objectivité du raisonnement.

                  </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 4 : </strong>
                    Je suis un acteur ressource pour le réseau pour accompagner mes pairs sur les méthodes et les outils d’analyse de situations ou de demande nécessitant un conseil.<br>
Je sais repérer une analyse duplicable à l’échelon académique.
</p></li>
              </ul>
          </div>


            </div>
        </div>


{% endblock %}
