{% extends "base.html" %}
{% block title %}Question A6 C2{% endblock %}

{% block content %}


<div class="container" style="margin-left:10%">
    <br>
    <div class="row">
      <div class=".col-md">
           <dt><h6 class= 'text-center'>A6 : Commercialisation de l’offre de prestations et recherche de marchés</h6></dt>
        <p class=""><strong>A6-C2 : </strong>Identifier des opportunités de marché afin de contribuer au développement de prestations nouvelles<br>
        en prenant appui sur la veille commerciale, une écoute de terrain et le repérage d’appels d’offres</p>
             <form action="{% url 'step2_A6' %}" method="post" class="form-group">
              {%csrf_token %}
              <div style="display: none;">{{ form.created_by }}</div>
              <p style="border: 2px solid blueviolet;width : 820px;">{{ form.A6_C2 }}</p><br>
              <div class=" row d-flex justify-content-center"><button type="submit" class="fr-btn">Suivant</button></div>
            </div>
            </form>
             </div>
      </div>
  </div>
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-md-offset-8">
              <ul class="list-group">
                <li class="list-group-item list-group-item-info"><p><strong>Degré 1 : </strong>Je m’informe sur : <br>
-	les compétences et les métiers d’avenir et les grands projets de mon territoire. <br>
-	les appels d’offres diffusés au sein de ma structure, du réseau.<br>
-	les besoins des commanditaires sur le territoire.<br>
Je rencontre les acteurs de mon territoire dans le cadre de la phase de découverte des besoins.
</p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 2 : </strong>Je rédige un compte-rendu d’entretien et de détection des besoins chez les prospects.<bR>
                    Je m’approprie une grille d’analyse d’un AO/AMI/AAP et j’en ressors les opportunités de développement pour ma structure, le réseau.<br>
                    J’analyse la diversité des informations recueillies afin d’identifier les transformations présentes et futures en termes de compétences sur le territoire.<br>
                    Je fais le lien entre mes investigations, mon analyse et le plan d’action commerciale de ma structure, du réseau.
                    </p></li>
                    <li class="list-group-item list-group-item-info"><p><strong>Degré 3 : </strong>
                   Je maitrise les techniques de questionnement et d’écoute active pour identifier les besoins des structures rencontrées.<br>
Je mets en corrélation les besoins détectés avec les ressources de ma structure pour déterminer les opportunités de développement et évaluer la prise de risque.

                      </p></li>
                    <li class="list-group-item list-group-item-info"><p><strong>Degré 4 : </strong>
                    Je partage la méthodologie d’identification des opportunités repérées à l’échelle de mon territoire, de la région académique.<br>
                    Je suis référent d’une filière, d’un secteur professionnel au niveau de ma structure, au niveau académique.<br>
                    Mes travaux contribuent à l’évolution de l’offre de formation professionnelle en région académique.
                      </p></li>
              </ul>
                      <br>
          </div>
        </div>
</div>

{% endblock %}