{% extends "base.html" %}
{% block title %}Question A2 C1{% endblock %}
{% block content %}

    <div class="row justify-content-md-center">
      <div class=".col-md-">
            <h4 class= 'text-center'style="font-weight: bold;">Pôle A : Conseiller-Développer</h4>
      <dl class="dl-horizontal">
                <dt><h6 class= 'text-center'>A2 : Diagnostic et analyse des besoins territoriaux et/ou sectoriels</dt>
                <div class="container" style="margin-left:10%">
                <dd> <p><strong>A2-C1 : </strong>Structurer une démarche de diagnostic afin d’étudier rigoureusement des besoins en<br>
                compétences, qu’ils soient territoriaux ou spécifiques à un secteur d’activités en prenant<br>
                appui sur des sources et des acteurs qualifiés</p>
              <ul class="list-group">
              <li>Par defaut la liste indique le Degré 1.</li>
              </ul></div>
              <dl> <div class="col-md-8 col-md-offset-8">
            </dd>
              </dl>
             <form action="{% url 'step1_A2' %}" method="post" class="form-group">
                  <div class="d-flex justify-content-center">
              {%csrf_token %}
              <div style="display: none;">{{ form.created_by }}</div><br>
              <p style="border: 2px solid blueviolet; width : 830px;">{{ form.A2_C1 }}</p></div>
              <div class="d-flex justify-content-center"><button type="submit" class="fr-btn">Suivant</button></div>
            </form>
            </div>
      </div>
  </div>

        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-md-offset-8">
             <ul class="list-group">
              <li class="list-group-item list-group-item-info"><p id="textCompetences"><strong>Degré 1 : </strong>Je mets en œuvre la démarche de diagnostic lors de mon année probatoire. Je connais les composantes nécessaires à l’élaboration d’un diagnostic.<br>
Je connais la nécessité de réaliser un diagnostic de territoire comme point de départ de mon action.<br>
J’ai pris connaissance de la commande émanant des décideurs concernant les besoins en compétences de mon territoire et/ou d’un secteur d’activités.</p></li>
              <li class="list-group-item list-group-item-info"><p id="textCompetences"><strong>Degré 2 : </strong>Je repère les enjeux, attentes et besoins du commanditaire.<br>
J’identifie les éléments et les acteurs utiles à la réalisation de mon diagnostic.</p></li>
              <li class="list-group-item list-group-item-info"><p id="textCompetences"><strong>Degré 3 : </strong>J’organise ma démarche de diagnostic : identification des acteurs clés, choix des outils d’investigations (observations, entretiens, questionnaires, études de documents et d’éléments de veille stratégique produits dans le réseau...), calendrier et planification du diagnostic, restitution sous forme orale et écrite.
              </li>
              <li class="list-group-item list-group-item-info"><p id="textCompetences"><strong>Degré 4 : </strong>Je suis un acteur ressource pour le réseau en capacité d’accompagner mes pairs sur la structuration et la démarche de diagnostic.<br>
Je peux gérer et superviser des projets de diagnostics.<br>
Je fais évoluer les outils de diagnostic.<br>

                </p></li>
            </ul>
            </div>


            </div>
        </div>
</div>

{% endblock %}</body></html>