{% extends "base.html" %}
{% block title %}Step2 A3{% endblock %}

{% block content %}


<div class="container" style="margin-left:10%">
      <div class="col-md-8 col-md-offset-8">
          <dt><h6 class= 'text-center'>A3 : Contribution à la définition de la politique de l’organisation</dt>
        <br>
        <p class=""><strong>A3-C2 : </strong>Identifier des axes ou des problématiques de développement afin d’alimenter la politique de l’organisation en étayant les positions exprimées</p>
             <form action="{% url 'step2_A3' %}" method="post" class="form-v5-content">
              {%csrf_token %}
              <div style="display: none;">{{ form.created_by }}</div>
        <p style="border: 2px solid blueviolet; width : 810px;">{{ form.A3_C2 }}</p><br>
        <div class="d-flex justify-content-center"><button type="submit" class="fr-btn">Suivant</button></div><br>
        </form>
        </div>
      </div>
  </div>
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-md-offset-8">
              <ul class="list-group">
                <li class="list-group-item list-group-item-info"><p style="font-weight:400"><strong>Degré 1 : </strong>Je prends connaissance des comptes-rendus des différentes instances.</br>Je connais le fonctionnement et le rôle des acteurs des instances<br> de concertation de ma structure auxquelles je participe.<br> Je connais la posture et les contributions attendues du CFP dans ces instances.

                  </p></li>
                  <li class="list-group-item list-group-item-info"><p style="font-weight:400"><strong>Degré 2 : </strong>J’identifie les potentiels de développement à court, moyen et long terme à partir diagnostic précis du positionnement de mon organisation.
                    </p></li>
                  <li class="list-group-item list-group-item-info"><p style="font-weight:400"><strong>Degré 3 : </strong>
                    Je propose des axes de développement concrets (moyens et ressources à mobiliser, points de vigilances).<br>
                    J’identifie les avantages à prioriser ou les freins à prendre en considération dans ma proposition de développement.
                  </p></li>
                  <li class="list-group-item list-group-item-info"><p style="font-weight:400"><strong>Degré 4 : </strong>Je capitalise et je mutualise les analyses réalisées pour ma structure, le réseau académique.<br>
                    Je mène une analyse tenant compte par anticipation, de l’évolution du marché pour étayer une politique à moyen et long terme.
                  </p></li>
              </ul>
                      <br>
          </div>
        </div>
</div>

{% endblock %}